[2017-06-19 23:26] berezovskyi opened #1 "Section for the tutorials à la OSLC primer"
One of the best parts of the old site was the tutorial section which contained multi-page tutorials, e.g. http://open-services.net/resources/tutorials/oslc-primer/

@brianking how do you see this implemented in the new site?

[2017-06-19 23:28] berezovskyi opened #2 "Preservation of the links to the RDF namespaces"
Currently, http://open-services.net/ns/core redirects to http://open-services.net/wiki/core/CoreVocabulary/

We should ensure that links do not get broken during the transition.

[2017-06-19 23:29] berezovskyi opened #3 "Use Discourse as the community forum?"

[2017-06-19 23:30] berezovskyi commented on #3
And to create less issues, what should we do with the dead mailing lists (http://open-services.net/mailman/listinfo)?

[2017-06-27 09:36] brianking commented on #1
I think we'll just have to extend the theme we are using to support such a layout. We plan on making our own Hugo theme anyway to customise design and layout. I'll be working with some developers on this.

See also http://oslc.github.io/developing-oslc-applications/ which has existed independently for a while and has a similar layout.

The goal is to gather all the most important tutorials in one

[2017-06-27 09:38] brianking commented on #2
@jamsden is taking the lead on this. We already have a proposed solution in place that involves the content moving to OASIS but namespace urls being preserved by redirects. Jim is consulting the technical group to get buy-in for this.

[2017-06-27 09:50] brianking opened #4 "Design Guidelines"
Abstract a list of basic design guidelines for the site from the site plan, to enable the building of the site theme (Hugo theme).

cc @gabrielfdac @hectorsanchezmx

[2017-06-27 09:53] brianking opened #5 "User Stories"
Create a set of user stories / personas for the site. This will drive design and determine which content to surface up where.

A starting point:
http://open-services.net/wiki/communications/Who-should-care-about-OSLC/

[2017-06-27 17:48] brianking commented on #3
Moving this to https://github.com/OSLC/oslc-community/issues/1. Please open a separate issue on that project for mailing lists.

[2017-06-27 17:48] #3 closed

[2017-06-27 18:34] berezovskyi opened #6 "About - Value Proposition Content"
Home -> About -> Why OSLC?

Explain why linked data in general is better than a standard combo of RDBMS+JSON. Target people who are somehow familiar with OOP/SQL and maybe even REST and are not convinced why our approach is better. Talk about linked data in the context of Big Data and raise a point of how important the technology is for keeping the future “data lakes” from turning into “data grave

[2017-06-29 16:40] brianking commented on #4
First pass now online:
https://github.com/OSLC/oslc-site-hugo/wiki/Design-and-Layout-Basics

[2017-07-03 19:27] brianking commented on #6
A new proposed site page is a sub-page under About called 'Why OSLC?'.

Can we use the content on this page as a foundation?
http://open-services.net/wiki/communications/Why-should-you-care-about-OSLC/

[2017-07-05 00:48] gabrielfdac opened #7 "Homepage Design"
https://xd.adobe.com/view/f5a37d61-fe4c-4a78-a114-b75c9cc2010c

This is the current design of the homepage. We tried to keep it as simple and modern as possible.
One thing that I believe we can definitely improve is with a better fitting image for the Hero (section just under the header).

Please share your feedback.

![image](https://user-images.githubusercontent.com/16785479/27845137-9684c638-60

[2017-07-05 13:40] brianking commented on #7
This is great. Clean and clear. A comment and question:

1. The grouping of the About and Contribute sections together works really well. You can have both in view together, and it caters to new and return visitors well.

2. I see that some sections are centered and do not stretch the full width. Is there a reason for that?

[2017-07-05 16:40] gabrielfdac commented on #7
Thanks for the feedback, here I address them and add a question:

1. Thanks, I thought so as well

2. Yes there is. This is a good practice for webpages for users with big resolutions (larger than 1600 pixels wide). To use a "container" to limit how large regular content can be.

The reason is that if the context, specially text, spreads too wide along the width of the screen if becomes hard to re

[2017-07-05 16:58] brianking commented on #7
Thanks for the explanation. Of course we'll need the site to be responsive, so this will help.

For the cover, I like both. Maybe for now we can just use the alternative one you have with just colours.

[2017-07-06 04:11] gabrielfdac opened #8 "About Page Design"
https://xd.adobe.com/view/5d59ec65-69ae-431b-b35c-933d16e4c61d

About page design, as before happy to hear any feedback.

[2017-07-06 09:25] berezovskyi commented on #8
Looks great actually! Doesn't have anything that shouldn't be there :)

[2017-07-06 10:00] berezovskyi commented on #7
Looks great! I think we need to work on the gray "landing" section, I understand that this is just a dummy.

I was thinking we would need to address at least 3 stakeholders, maybe use something like this:

![image](https://user-images.githubusercontent.com/64734/27906007-1b046d90-6242-11e7-92a0-16218aa095ce.png)

or if we have more content, then the simple approach of a section followed by a butto

[2017-07-06 14:40] brianking commented on #8
That's a lot of my face on there!

I agree with Andrew, it looks great. However, what I envisioned for this page is that many of the sections would actually be sub-pages. It's ok perhaps to keep the sections as you have them, but have a shorter lead-in and then link to the page.

There would also be a sub-menu at the top of the page with the links to the various sub-pages. An example can be seen a

[2017-07-06 17:17] gabrielfdac commented on #8
I updated the link I sent before with the sub-menu.

[2017-07-06 17:26] brianking opened #9 "Contribute Page Design"
From the site plan:

**Overview**
This is arguably the most important section, for what is a community without active participants. Right in the forefront should be clear calls to action, that both meet the needs of different types of contributors and that are the most impactful to the community.

**Sections**
* Contribute
  * Development - how to contribute to coding
    * Need to point to OSLC G

[2017-07-06 17:27] gabrielfdac commented on #7
I just updated the link with the alternative Hero, and even before reading your comment Andrew I updated the color of the grey as I noticed it was a bit too dark for what I was going for.

If the content is to remain similar, as a brief About followed by Contribute, I think it would be better to just keep them as sections. Content side-by-side like that suggest a correlation between them.

What we

[2017-07-06 17:27] brianking commented on #9
As you can see some of the sections are not fully thought through yet, but we have enough to get the basic design down and we can figure out after how to best present each opportunity.

[2017-07-07 08:17] brianking commented on #8
I like it!

[2017-07-07 18:38] gabrielfdac opened #10 "Resources Page Design"
https://xd.adobe.com/view/40014562-2b02-42ca-8a69-4da9a947ccba

Here the first draft of the Resources Page.

A few notes:
1. There are two versions of what a Featured Resource could look like. The idea is to have it not only be on the top of the list (like the current version) but have some more attention and possibly not have it's summary cut out or shortened. However I couldn't decide between th

[2017-07-07 20:05] brianking commented on #10
Fantastic, I think it looks great. For the Featured, I like the first one better. The contrast of the bottom bar looks nice.

For the other cards, I like the idea of hover but if it is hard to simulate that on mobile or if it will require more coding, then I wouldn't worry too much about hover. So maybe we can make the intro text shorter and still fit in author name and other information.

I like

[2017-07-07 20:43] gabrielfdac commented on #10
Got it.

For the mobile we would likely change things slightly anyway, and there is no hover on mobile, so we'd have to think of something else. I guess the point I'm trying to make is, having the hover doesn't limit our approach to mobile. And the extra coding that might go into something like this is often marginal and shouldn't set us back at all.

Yes, I wouldn't focus on things like comments

[2017-07-09 05:35] gabrielfdac commented on #9
https://xd.adobe.com/view/1de62113-6a97-48e5-bb20-372b2351f069/

Here the design for the Contribute page. I took a very simple approach to it. Let me know if we can improve it in any way.

[2017-07-10 19:16] brianking opened #11 "Homepage Content"
Add initial content to the homepage. As laid out in the site plan, here is some guidance:

**Overview**
The home page will be split into sections that introduce different parts of the site/community. Where necessary, each section will link into different parts of the site.

**Sections**
Not necessarily in this order….
* Case Studies - targeting 3 audiences:
  * Vendors of data handling software. W

[2017-07-11 17:17] brianking opened #12 "New Theme Skeleton"
Build out the skeleton of our new theme. General approach should be:

* Build out basic features as per the documentation
* Use other themes as reference where necessary

As we implement the designs (separate issues), we can add theme features on top as needed.

As for the theme name, we can just use oslc-theme or something similar.

[2017-07-11 17:18] brianking commented on #12
For references on what the theme will need to have, refer to both the designs being created in other issues as well as the design guidelines outline in issue #4

[2017-07-11 17:33] brianking opened #13 "News / Blog Design"
Let's keep it simple for now and have a basic design for:

* blog index page, using traditional post excerpts scrolling on a page
* post page

No need to add anything fancy, whatever is native to Hugo posts.

[2017-07-11 17:35] brianking opened #14 "Implement Homepage Theme"
After building the skeleton theme in issue #12 then take the homepage design from issue #7 and implement it.

[2017-07-11 17:50] brianking opened #15 "Discourse for Blog Post Comments"
Once we have the blog up and running, let's try a basic proof of concept for using Discourse as our post commenting system. Some themes use this out of the box, so we can possibly use one of them as a reference.

e.g.
https://themes.gohugo.io/hugo-uno/

There is also some relevant articles around to help, including:

https://gohugo.io/extras/comments/
https://meta.discourse.org/t/embedding-discour

[2017-07-11 21:04] brianking opened #16 "New Namespaces / Vocabularies Page"
Old page: http://open-services.net/ns/ redirects to http://open-services.net/wiki/core/Vocabulary-index/. This is the root page for accessing the vocabularies. That URL should be redirected to the page described by the following notes.

(Content to follow)

Questions:
        ✓        Do we need to support automatic conversion of text/turtle to RDF/XML and/or JSON-LD? Or can we simply provide the

[2017-07-11 21:05] brianking commented on #16
@jamsden I don't think the content actually did come across as intended in the email I received. I don't see a table for example.

Do you have a screenshot of the proposed design?

[2017-07-11 21:17] brianking commented on #9
I like it in general. The icons have the potential to convey a lot of meaning.

However, thinking about this some more I think it would be nice to have some sort of grid approach. It would be some sort of combination of these two pages:

https://theodi.org/get-involved
https://www.ansible.com/community

So they would be boxes, and they all don't have to the the same size (see ODI site). This will

[2017-07-11 21:33] gabrielfdac commented on #9
Ok, I'll see what I can do about it

[2017-07-12 14:13] brianking commented on #1
@gabrielfdac @jailandrade @LeoTrujillo The theme is going to have to support this as well.

[2017-07-12 14:21] brianking opened #17 "About - Landing Page Content"
Home -> About

* Determine main message we want to get across on About, that is not covered by the homepage
* Write intro snippets that introduce other pages in About

[2017-07-12 14:25] brianking opened #18 "About - Mission Page Content"
Home -> About -> Mission

Based on:
https://open-services.net/wiki/steering-committee/Vision/

Open question: Are mission and vision the same thing?

[2017-07-12 14:31] brianking opened #19 "About - FAQ Content"
We have a participation FAQ here:

https://open-services.net/participate/faq/

However, much it will not be relevant anymore such as the parts about membership. Other parts we can put on other pages, e.g. steering committee on the Governance page.

So, what sort of questions should we be answering here?

[2017-07-12 14:34] brianking opened #20 "About - People Content"
Mainly about the Steering Committee.

We can harvest parts from:
https://open-services.net/tagged/governance/

Open question:
Do we want to talk much about the history of the community?

[2017-07-12 14:36] brianking commented on #8
When user is on any page in About, both that sub-menu item and the main About menu item should be highlighted.

[2017-07-12 14:51] brianking commented on #4
+ @gabrielfdac @jailandrade @LeoTrujillo

Am going to close out this issue now. If anything else is needed, let me know.

[2017-07-12 14:51] #4 closed

[2017-07-13 17:42] brianking opened #24 "oslc.co Domain Changes"
The following needs to be done:

* [x] Change nameservers to point to Digital Ocean
* [x] Change redirect to go to https://oslc.github.io
* [ ] Setup basic index page on droplet, and when delete the redirect so that it resolves to this page
* [x] Move domain to new registrar. It expires in 36 days and costs $30. We may be able to get cheaper somewhere else

[2017-07-14 04:08] gabrielfdac commented on #13
Here's the news page design

https://xd.adobe.com/view/d999f9bc-f845-4de9-9dc6-80d397ebbcb6

And the individual Posts

https://xd.adobe.com/view/7c0ebd40-d77c-4acd-8444-4555bc6da472

Let me know what you guys think!

[2017-07-14 09:15] brianking commented on #13
I like it. Nice, clean, and simple.

[2017-07-17 10:09] berezovskyi commented on #24
* For now there is a Discourse welcome page there.
* HTTPS is not working any more (connection refused).
* my favourite registrar name.com charges this:
    * Registration: $6.99/yr
    * Renewal: $28.00/yr
    * Transfer: $22.99/yr

[2017-07-17 11:18] brianking commented on #2
Latest plan:

1. http://open-services.net/specifications - Preserve this page, but this page should be significantly simplified to organize the specs in a simple list by the governing TC.

2. http://open-services.net/specifications/requirements-management-2.0/ - this (for example) is the landing page for the document's governance page - this should redirect to the OASIS TC that now managing the pa

[2017-07-17 11:29] brianking commented on #12
Being developed on the 'new-theme' branch:

https://github.com/OSLC/oslc-site-hugo/tree/new-theme

[2017-07-17 11:31] brianking commented on #14
@jailandrade Do you have an update on this? A screenshot of progress to share?

[2017-07-17 12:04] brianking opened #27 "Specification Pages Updates"
Latest plan:

1. http://open-services.net/specifications - Preserve this page, but this page should be significantly simplified to organize the specs in a simple list by the governing TC.

2. http://open-services.net/specifications/requirements-management-2.0/ - this (for example) is the landing page for the document's governance page - this should redirect to the OASIS TC that now managing the pa

[2017-07-17 13:53] brianking opened #28 "Case Studies Design"
The Case Studies section shows the value of OSLC technologies to possible stakeholders. It will consist of:

* Homepage section (covered in issue #7)
* 'Case Studies' site navigation item
* Case Studies page. This should either be a top-level page, or a sub-page of About (see issue #8)
* We may have sub-pages under the case studies page, depending on how much content we have.

The audiences we are

[2017-07-17 13:54] brianking commented on #7
@berezovskyi and I chatted today and he clarified his point about the section for stakeholders. So, this will actually be a different section that we originally planned, and what I somehow overlooked when planning (or didn't get copied to the issues).

Basically, we need a section on the site with case studies that show the value of OSLC technologies to possible stakeholders. I opened issue #28 wh

[2017-07-17 14:24] jailandrade commented on #13
I love it, good work

[2017-07-17 19:08] jamsden commented on #27
Re:

1. The page should provide an "at a glance" view of the specifications including their title, version, brief description, status link to TC and link actual document

2. Document links on the TC public pages are down a ways on the page under the section **Technical Work Produced by the Committee**. So having the actual document link (on the title of the document) in 1 above would be useful.

3

[2017-07-17 19:10] jamsden commented on #16
There is not table in the document I emailed - that from Apple Notes which doesn't yet support tables (oddly). There is no sreenshot on the layout - I focused on the content design, not the visual design.

[2017-07-17 19:16] jamsden commented on #19
By nature a FAQ should be driven by the kinds of questions the community frequently asks. If open-services.net becomes a community focused on building and integrating things using OSLC, then its likely many of the existing FAQ elements won't be that useful. We perhaps won't know until we get some forum activity to see who is joining the community and what they want to know. We can probably seed a

[2017-07-17 19:20] jamsden commented on #20
This content can be ignored. All you need to do is add a statement in the About page indicating all the OSLC specifications are managed by the OASIS governance process and link to the OSLC Member Section public page: https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=oslc-ms

[2017-07-18 08:56] brianking opened #34 "Abstract Menu and Social links to config.toml/theme.toml"
I notice these urls are now hard-coded. We should abstract them out. If you look at our current config.toml, you can see how the universal theme does it.

[2017-07-18 12:23] brianking commented on #6
Tagging @jamsden and @rersie for input here.

[2017-07-18 12:25] brianking commented on #19
Tagging @rersie for input.

[2017-07-18 12:42] brianking commented on #20
@jamsden I was thinking more about taking some of the content from http://open-services.net//pub/Main/CommunityGovernanceUpdatesDrafts/OSLC-Governance-Update-slides-2012-May-08.pdf and adapting it. But since some of the model is going away, i.e. membership, then yes perhaps this page is not necessary. However, the page you link to at OASIS does not give much information, so I feel we need some sor

[2017-07-18 12:53] brianking opened #35 "Ecosystem Visualisation"
The OSLC Ecosystem is how all the different parts of the community fit together. e.g. open-services.net, OSLC at OASIS, Tool vendors, W3C, and so on.

There is an outdated visual representation in this post:
http://open-services.net/blog/all-systems-go-for-oslc-at-oasis/

**We need an updated version of this image**.

I started a presentation based on some slides that @rersch had. It still needs t

[2017-07-18 16:46] m257645 commented on #13
Looks good to me.

[2017-07-19 05:29] jailandrade commented on #14
In the last merge, we update the resources section to make it mobile friendly

I'm still working on #34

[2017-07-19 19:38] brianking commented on #12
@jailandrade @LeoTrujillo What would you say the big pieces of the 'skeleton' are left to do?

[2017-07-19 19:51] brianking commented on #14
@jailandrade @LeoTrujillo Some comments based on what we have so far vs what is in the [design](https://xd.adobe.com/view/f5a37d61-fe4c-4a78-a114-b75c9cc2010c/).

* Icon in top left is not hyperlinked to home page (should be on all pages)
* Items are not centered in the middle similar to the design, i.e. community stats, next sections, header section for resources, title for news.
* Once the other

[2017-07-19 19:55] brianking opened #47 "Implement About Theme"
Based on the design in issue #8, create the theme for the About landing page.

[2017-07-19 20:09] brianking commented on #47
@jailandrade @LeoTrujillo Comments on what we have so far vs [design](https://xd.adobe.com/view/5d59ec65-69ae-431b-b35c-933d16e4c61d/).

* Please make About section 2 longer paragraphs, and not 3 short ones.
* A departure from the design, but the Steering Committee section should be named Governance. It should only have text, and link out to the Governance sub-page.
* While I like the Team section

[2017-07-19 20:12] brianking opened #48 "Implement Resources Theme"
Based on the design in issue #10, create the theme for the Resources landing page.

[2017-07-19 21:49] brianking commented on #48
@jailandrade @LeoTrujillo Comments on what we have so far vs design.

* Filter drop-down has 2 arrows (Firefox)
* Text in heading box does not span to align with section below. Section below may or may not also be too wide. We'll need to ensure we keep symmetry of sections across pages.
* Layout of footer items is not consistent with other pages.

Looks great in general!

[2017-07-19 21:57] brianking opened #50 "Implement Contribute Theme"
Based on the design in issue #9, create the theme for the Contribute landing page.

[2017-07-19 21:59] brianking commented on #50
@jailandrade @LeoTrujillo Some thoughts on what we have now vs the design.

In general it looks good. We also have here the issue where the text in the header is not spanning width to match panel below.

NOTE that there is a new design pending on this, so don't spend too much time on this until we have it. More details are in the comments in issue #9. cc @gabrielfdac

[2017-07-19 22:02] brianking opened #51 "Implement News Theme"
Based on the design in issue #13, create the theme for the News/Blog pages.

[2017-07-19 22:04] brianking commented on #51
@jailandrade @LeoTrujillo Some thoughts on what we have now vs the design.

What we have now, the boxes, does not match the [design](https://xd.adobe.com/view/d999f9bc-f845-4de9-9dc6-80d397ebbcb6/) for the index page where posts are laid out in a more traditional format one under the other showing an abstract.

cc @gabrielfdac

[2017-07-19 22:12] brianking opened #52 "Notification Bar"
We need a simple notification bar that goes on the very top of the site (all pages). It will be used for announcements mostly.

So for example, it should have text something like this right now:

"This is a prototype site, and still a work in progress. For now please continue to refer to open-services.net as the source of information for the community"

open-services.net should be linked.

[2017-07-20 05:28] jailandrade commented on #52
Ok, I'll do it

[2017-07-20 05:49] jailandrade commented on #12
The main news page and the individual news articles I think

[2017-07-20 15:16] rersch commented on #19
Based on the recent e-mail conversion we had: we should clearly describe which OSLC channels exists (namely GitHub, Discourse, Slack, and Wiki) and what they should be used for including the need to create or use of existing logins.
Other typical question which come up regularly:
- How can I get involved in OSLC
  A: User groups member, TC contributor, StC member, Reference implementation provider

[2017-07-20 16:27] jailandrade commented on #52
The component is ready and merged in master

[2017-07-20 16:35] jailandrade commented on #47
Sure, I will do this

[2017-07-20 16:44] LeoTrujillo commented on #14
Ok, I'm working on it

[2017-07-20 16:46] jailandrade commented on #50
@LeoTrujillo made this page before we found out that @gabrielfdac was going to change the design

[2017-07-20 16:53] jailandrade commented on #48
@LeoTrujillo can you see this?

[2017-07-20 17:37] LeoTrujillo commented on #14
@brianking What do you mean in the second point?, Can you send me a screenshot please?

[2017-07-21 11:39] brianking commented on #52
I'm seeing the notification bar twice on all pages except the homepage.

![firefox_screenshot_2017-07-21t11-34-42 943z](https://user-images.githubusercontent.com/114116/28462113-0ef07a6a-6e1a-11e7-83ef-4a00cfc49b7b.png)

[2017-07-21 12:24] brianking commented on #14
@LeoTrujillo Sure, check out this picture. On the left is the live site, on the right is the design (scale not the same in both). I've drawn a line on both to show where alignment should be. There are a couple of differences in the live site.

1. Resources section header is not centered, but is on left of page because the content of that section spreads accross the whole page.
2. The Statistics se

[2017-07-21 12:32] brianking commented on #16
Hacking on this here:
https://docs.google.com/document/d/1DRFoH-HOU6pfMIakgrU_kAs5KDBHBhKM7b1xQjCIGRk/edit?usp=sharing

Have sent message to @jamsden seeking clarification on some things.

[2017-07-21 14:40] brianking commented on #14
Another thing I noticed. The 'Learn More' button in the 'Inspired by the web' section should go to the About page, not Resources. Link to Resources should be in that section.

[2017-07-21 15:21] brianking commented on #11
The basic design is live now on the testsite - https://oslc.github.io/. There is some placeholder content in there for now,

Here is some content I propose for the homepage, feedback welcome. cc @berezovskyi @jamsden @rersch @axelreichwein for input. If you know of any professional wordsmiths who might be willing to help, let me know. Please also comment if you have opinions about the ordering of

[2017-07-21 15:47] brianking commented on #27
@jamsden - can you give a couple of example, to get started?

[2017-07-21 16:57] LeoTrujillo commented on #14
I corrected those details and now the changes are already on master branch, let me know what do you think

[2017-07-21 22:24] gabrielfdac commented on #7
I just updated the Link Above with a Case Studies Section. Let me know your thoughts

[2017-07-22 00:28] gabrielfdac commented on #28
https://xd.adobe.com/view/3f063148-9a3a-4143-bf33-fdf74ae577e7

Case Studies Page design. For the homepage section refer to [#7](https://github.com/OSLC/oslc-site-hugo/issues/7).

Let me know what you guys think.

[2017-07-22 01:05] gabrielfdac commented on #9
I just updated the design for the contribute page on the link above.

Let me know if that's more like what you had in mind.

[2017-07-24 18:02] jailandrade commented on #52
Last commit solve this https://github.com/OSLC/oslc-site-hugo/commit/6b7800fe811a6567f59fe464c20a8d91df59a9a9

[2017-07-24 18:02] #52 closed

[2017-07-28 08:32] rersch commented on #11
We need to point out very strongly at a prominent spot that we are working on integration solutions for engineering/development environments and not on SW integration in general.
On place could be the text in the banner: e.g. "An open community building practical specifications to integrate data in engineering and SW development environments".  This is based on the old text, which I like better th

[2017-07-28 08:50] rersch commented on #11
what I'm missing is a reference to the extended OSLC Eco system (Eclipse Lyo, OSLC on GitHub, OSLC on Codeplex, LinedData on W3C, and other communities. There should be a button, text or similar with a link to an Eco system page. This page should have an overview picture (similar, but better as attached) with the links to the other sites.
![oslc-eco](https://user-images.githubusercontent.com/29402

[2017-07-28 08:54] rersch commented on #11
will the part with the numbers (members, implementations, organizations) stay?
If yes, where are these numbers coming from? The Eco system could be added here "Communities connected with us".
If not, maybe this spot could used for the reference to the Eco system.

[2017-07-28 14:52] brianking commented on #7
RE the case studies section, the design looks good. However, I think it needs to be differentiated more from other sections. So here is what I suggest:

* Give the section a title. It could be just 'Case Studies', or something to grab people's attention a bit more like 'How OSLC Is For You'
* Add some lead in text
* Add 'Learn More' buttons
* Consider changing the background colour for contrast, b

[2017-07-28 14:55] brianking commented on #28
I like it, my only comment would be that maybe there are too many colours on the page.

It will also likely need different types of content than just text, but if we make the design simple enough then anything will fit.

@berezovskyi what do you think?

[2017-07-28 15:00] brianking commented on #9
Again, I think there might be too many colours here that could be a distraction from the content. The boxes also seem too small. We'll need sections on the page that can hold more and different types of content.

[2017-08-02 13:34] m257645 commented on #28
We might want to include the text "OSLC" as a minimum, or better still "Open Services Lifecycle Collaboration (OSLC)" where not too busy on pages where the logo appears rather than just having the logo itself.

[2017-08-02 21:59] gabrielfdac commented on #28
I've updated the link with a all white background design. As far as different content overall anything should fit that design.

[2017-08-03 21:34] gabrielfdac commented on #9
I updated the link with a new take on it. Let me know your thoughts

[2017-08-09 16:36] brianking commented on #7
Any thoughts on my last comment @gabrielfdac ?

[2017-08-09 16:39] brianking commented on #8
In general this looks great @gabrielfdac and has been implemented well. Anything outstanding?

[2017-08-09 16:41] brianking commented on #9
Yes this much better @gabrielfdac and closer to the vision I had! Good work.

[2017-08-09 16:52] brianking commented on #48
Outstanding issues:

* Filter drop-down has 2 arrows (Firefox)
![firefox_screenshot_2017-08-09t16-51-55 573z](https://user-images.githubusercontent.com/114116/29133464-daaa53ec-7d33-11e7-8fa1-c54002b557a9.png)
* Hover functionality on boxes not implemented

[2017-08-09 16:53] brianking commented on #12
@jailandrade Anything major outstanding here?

[2017-08-09 16:56] brianking commented on #8
One thing that is missing that is on other pages is an image banner. Do you think it is needed?

[2017-08-09 17:20] brianking commented on #13
@gabrielfdac I am not sure about having the categories on the top, that won't scale. I'm not sure where else we can put them, except in the sidebar. But the individual post page does not have a sidebar.

[2017-08-09 17:22] brianking commented on #51
On the index page, I am currently seeing the sidebar way down the page instead of being at the top.

![firefox_screenshot_2017-08-09t17-21-46 153z](https://user-images.githubusercontent.com/114116/29134760-12cf3676-7d38-11e7-93f1-41ad20918dcf.png)

[2017-08-09 17:24] brianking commented on #51
Another issue. When I click the button to open a post, and then go back a back a page to the index, the button is stuck in selected (or hover) state different from other buttons.

[2017-08-09 17:36] brianking commented on #50
@jailandrade @LeoTrujillo There is a new design available for this page.

[2017-08-09 17:37] brianking commented on #50
On issue with the current version is that the banner image is not as tall as on other pages, leading to some inconsistency when navigating the site.

[2017-08-09 17:39] jailandrade commented on #12
I didn't notice we have some bug with the styles in this page, I'm going to fix it

[2017-08-09 17:40] jailandrade commented on #51
working on it

[2017-08-09 17:41] jailandrade commented on #50
@brianking where is the new design for this page?

[2017-08-09 17:57] gabrielfdac commented on #13
@brianking won't scale in what sense? Unless you plan on having 20 categories in the future (which I would recommend against `:D) it shouldn't be too much of a problem. But we can also put them on the side.

The individual pages not having anything on the side is a way to keep the content clean and not distract the reader. Maybe we could put it at the bottom?

[2017-08-09 18:01] gabrielfdac commented on #8
@brianking I wouldn't say it's needed but it would definitely show some consistency across the pages. The reason why I didn't put any is that since we'll be having subpages we'd have to discuss if we want a single one for all subpages or individual ones for each. Let me know.

[2017-08-09 19:43] brianking commented on #50
https://xd.adobe.com/view/1de62113-6a97-48e5-bb20-372b2351f069/

See also issue #9

[2017-08-09 21:21] LeoTrujillo commented on #48
@brianking now the search section looks good in firefox
<img width="416" alt="cap" src="https://user-images.githubusercontent.com/3343042/29144489-c589401e-7d1e-11e7-8fbd-d4fef93bab11.png">

[2017-08-09 22:46] LeoTrujillo commented on #51
@brianking We have corrected that issue, now the news page looks like this...
<img width="1313" alt="cap" src="https://user-images.githubusercontent.com/3343042/29147066-585f9ebe-7d2a-11e7-8482-7da08386a4fb.png">

[2017-08-10 13:48] brianking commented on #48
Confirmed, the double arrow issue in Filter is fixed now.

[2017-08-10 14:07] brianking commented on #51
Thanks, the sidebar issue is now fixed. Still seeing the selected button issue.

[2017-08-10 14:17] brianking commented on #34
Any updates on this @jailandrade ?

[2017-08-10 14:33] brianking commented on #24
* The Discourse login page is there now, because I have setup discourse. However, the correct home for Discourse is http://discourse.oslc.co/. I will look into putting a simple welcome page at oslc.co.
* I will look into activating https.
* Yesterday I transferred the domain to namecheap.com for the registrar, at a cost of $22.99/yr. The change is propagating, the status currently at "pendingTrans

[2017-08-10 14:35] brianking opened #68 "Deploy to oslc.co"
In issue #24 the domain transfer to a new registrar and host is nearly complete.

Once complete, we should deploy the site of oslc.co instead of it's current home at oslc.github.io.

[2017-08-10 15:00] brianking commented on #68
@hectorsanchezmx and I chatted and he has agreed to take this one, at least for the part of enabling our droplet to host web content.

Initial requirements:
1. Keep discourse.oslc.co intact, with our Discourse installation
2. Setup our droplet to host web content, initially at oslc.co
3. Add simple welcome page to oslc.co. It should link, with a brief explanation of each to:
* open-services.net
*

[2017-08-10 15:11] jamsden commented on #27
Maybe a simple table with columns:

- Specification Title (with URL link to the latest published specification)
- Current status
- Governing OASIS TC name (with link to TC public page)
- Brief description (maybe optional - might make the table too big)
Make each column sortable so that users can easily navigate the table based on specification, workgroup or status.

[2017-08-10 17:17] jailandrade commented on #34
Sorry, this was fixed a week ago, you can go to config.toml and update the menu and the changes will be reflected

[2017-08-10 17:43] jailandrade commented on #50
I'm currently working on this

[2017-08-10 18:52] LeoTrujillo commented on #51
@brianking what do you mean with "selected button issue"?

[2017-08-10 19:53] brianking commented on #34
Thanks for confirming. Closing this out.

[2017-08-10 19:53] #34 closed

[2017-08-10 20:07] brianking commented on #51
Here are the steps to reproduce @LeoTrujillo

1. Go to https://oslc.github.io/news/
2. Observe the colour of the first 'Continue Reading' button
3. Click on that button
4. After the post page loads, go back one page in the browser

Expected
The 'Continue Reading' button looks the same as before you clicked it

Actual
The 'Continue Reading' button text changes to a darker colour and is different fr

[2017-08-10 20:08] brianking commented on #1
TODO: @gabrielfdac to come up with basic design, but not a top priority.

[2017-08-10 20:08] brianking commented on #7
TODO: @gabrielfdac to update the Case Studies section.

[2017-08-10 20:09] brianking commented on #8
TODO: @gabrielfdac to come up with sample design with header images to compare. Not a priority.

[2017-08-10 20:13] brianking commented on #10
TODO: @brianking to open issues to implement a) infinite scrolling, b) search functionality, c) filtering.

[2017-08-10 20:14] brianking commented on #13
@gabrielfdac and I discussed scaling today. It means that there might be more than 10 categories, for example.

TODO: @gabrielfdac to design for a category drop-down instead.

[2017-08-10 20:31] brianking commented on #28
TODO: For @gabrielfdac
* Add header image to design
* Add different types of content in each section to design, e.g. images/screenshots or other things typical to what a case study might look like.

[2017-08-10 20:33] brianking commented on #35
TODO:
* @brianking to come up with updated content for the image
* After that, @gabrielfdac will make a first pass at a new version

[2017-08-10 20:36] brianking commented on #35
Adding @rersch for input, we talked about this when we met up recently in Munich.

[2017-08-10 21:40] LeoTrujillo commented on #51
ok, I'm working on it

[2017-08-10 22:02] LeoTrujillo commented on #51
@brianking Are you using a specific browser ?, because I followed those steps but it looks same for me, I mean, when I clicked the button and then go back I see the same colors in all buttons and I tested it in chrome, firefox and safari.
<img width="742" alt="ca" src="https://user-images.githubusercontent.com/3343042/29194059-8df80188-7ded-11e7-9d49-bd7275b1e769.png">

[2017-08-11 03:10] hectorsanchezmx commented on #68
Discourse on http://discourse.oslc.co/
Website on http://oslc.co/

[2017-08-11 03:13] jailandrade commented on #50
the latest changes for this issue are in master @brianking

[2017-08-11 10:12] brianking commented on #51
@LeoTrujillo Yes, I am using Firefox.

[2017-08-11 10:24] brianking commented on #50
Excellent @jailandrade I really like it so far. When we have content to put in, there might be further changes required.

[2017-08-11 10:43] brianking commented on #68
Excellent, @hectorsanchezmx that was fast!

Can you please update the following document on how to deploy to oslc.co. I've left a section at the end to be filled out.

https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup

[2017-08-11 13:52] brianking opened #69 "Add Text with Logo in Header"
Right now in the header, we have the logo only on the right hand side. I believe we need to have some text in there as well. There are at least 2 options:

1. Icon with text 'OSLC'
For example on Discourse we are using this logo
![image](https://user-images.githubusercontent.com/114116/29215807-bee21602-7eac-11e7-9fed-67bacede1296.png)

2. Icon with text 'Open Services for Lifecycle Collaboration'

[2017-08-11 14:01] brianking opened #70 "Fixed Navigation"
Let make the header, when the user scrolls, stay visible at the top of the page.

Further reading:
https://www.smashingmagazine.com/2012/09/sticky-menus-are-quicker-to-navigate/

[2017-08-11 15:29] brianking opened #71 "Limit number of News post on Homepage"
Currently on the homepage, we have multiple rows of sample posts. We need to limit it to the **latest 4 posts**.

The design is here:
https://xd.adobe.com/view/f5a37d61-fe4c-4a78-a114-b75c9cc2010c/

[2017-08-11 15:39] jailandrade commented on #50
still needs some tweaks for responsive design

[2017-08-11 15:40] jailandrade commented on #70
sure! working on it

[2017-08-11 16:37] jailandrade commented on #71
this task is done

[2017-08-11 17:08] LeoTrujillo commented on #70
Ok, the sticky menu is already in master branch

[2017-08-14 09:36] brianking commented on #71
Great @jailandrade @LeoTrujillo next part of this task is for them to be actual posts from the news section.

[2017-08-14 09:37] brianking commented on #70
Prefect, thanks!

[2017-08-14 09:37] #70 closed

[2017-08-14 13:08] brianking commented on #11
@rersch in reply to your comments...

* Point taken about "in engineering and development environments". I'll be sure to clarify that in the content.

* Issue #35 is open about the ecosystem visualisation. We'll be updating the image, and also refreshing the text content. I propose that we put this in the About section of the site, either as a section on the main About page and/or and About sub-pa

[2017-08-14 20:21] brianking opened #75 "Banner on Contribute Page Issues"
There are 2 issues:

1. It is shorter than on other pages.

2. It has no background image like other pages.

[2017-08-14 20:23] jailandrade commented on #75
Working on it

[2017-08-14 20:25] brianking opened #76 "Hyperlink blog post titles"
In addition to the continue reading buttons, I think it makes sense for blog post titles to link to the posts as well.

[2017-08-14 20:32] brianking opened #77 "Document How To Create Site Content"
A guide for how the sire is structured, and how to add various different types of content.

- [x] Blog Post
- [ ] New Resource
- [x] FAQ Entry
- [x] [About Content](https://github.com/OSLC/oslc-site-hugo/issues/114#issuecomment-335522247)

[2017-08-14 20:38] brianking opened #78 "Hover on boxes on Resources page"
The boxes change on hover. Refer to the design for details.

[2017-08-14 20:43] brianking opened #79 "Infinite Scroll on Resources Page"
On the Resources page, we will be adding multiple resources. To scale this the best, @gabrielfdac and I discussed infinite scroll being the best solution.

[2017-08-14 20:47] brianking opened #80 "Highlight link in the notification bar"
The 'open-services.net' link in the top notification bar does not stand out from the rest of the text. It should look different so users know it is a link.

Additionally, please make all the text a bit smaller.

[2017-08-14 21:03] brianking opened #81 "Terms of Use Link not visible"
In the footer, the link is not visible on all pages except the homepage. The reason is the background colour of the footer.

[2017-08-14 21:07] brianking opened #82 "Lines under headers in Resources section"
On the homepage, there are different boxes in the Resources section, e.g. Tutorials.

The headers in these sections should have a horizontal line under them. Refer to the design for details.

[2017-08-14 21:09] brianking opened #83 "Description text in News section on Homepage"
On the homepage, please add some intro text to the news section similar to other sections. For now it can be just placeholder text.

[2017-08-15 13:05] brianking commented on #24
The domain transfer to namecheap.com is complete.

[2017-08-15 14:02] LeoTrujillo commented on #82
Woking on it

[2017-08-15 14:20] LeoTrujillo commented on #82
@brianking that change is already in master branch
<img width="1440" alt="c" src="https://user-images.githubusercontent.com/3343042/29319821-e7741282-819a-11e7-8202-a7dc6356684c.png">

[2017-08-15 14:21] axelreichwein opened #84 "Subtitle in landing page"
Instead of "An open community building practical specifications for integrating **software**", the subtitle should be "An open community building practical specifications for integrating **data**", as OSLC can be used to provide a RESTful Linked Data API to any data source, such as databases, and not just to engineering software applications.

[2017-08-15 14:46] LeoTrujillo commented on #84
ok @axelreichwein I'm working on it

[2017-08-15 14:51] LeoTrujillo commented on #84
Ok, now the subtitle looks like this...
<img width="814" alt="c" src="https://user-images.githubusercontent.com/3343042/29321184-38e3bea2-819f-11e7-8d85-cdae9e449cfe.png">

Let me know what do you think @axelreichwein

[2017-08-15 14:52] brianking commented on #16
@jamsden In relation to the new content you sent me via email, I have some questions.

1. You have a ‘Contents’ section that seems to be blank. Are the sections below supposed to be sub-sections of that, or can I remove it?

2. The Namespaces table
Apart from Core 3.0, are there any that are different from the table in the [current page](http://open-services.net/wiki/core/Vocabulary-index/)?
Can y

[2017-08-15 15:07] LeoTrujillo commented on #79
Yes, I just tested with many items in the page and it support infinite scroll
@brianking

[2017-08-15 15:18] jailandrade commented on #27
I added a page to render the content from specifications and some styles for tables

[2017-08-15 15:31] jailandrade commented on #75
I merged the latest changes in master

[2017-08-15 16:09] brianking commented on #84
Actually this was updated a couple of days ago, I just forgot to deploy it. After feedback from @rersch I changed it to:

"An open community building practical specifications to integrate data in engineering and software development environments"

@LeoTrujillo I think you regressed this change, because the last part if missing "....  in engineering and software development environments"

[2017-08-15 16:31] LeoTrujillo commented on #83
I added the text from the markdown @brianking , the change is already in master branch

[2017-08-15 17:04] LeoTrujillo commented on #78
@brianking this issue has been finished

[2017-08-15 17:08] LeoTrujillo commented on #76
@brianking I'm working on it

[2017-08-15 18:02] brianking commented on #76
Thanks, tested it. Works good.

I wonder if it should change appearance onhover. @gabrielfdac what do you think?

[2017-08-15 19:54] brianking commented on #27
@jamsden We are working on it here, it will be prettier!

https://oslc.github.io/specifications/

In terms of content, for the one item where have in there, OSLC 3.0, can you say:

* What is the "latest published specification" to link to in column 1?
* What is the "link to TC public page" in column 3?

As for status, the main thing I am concerned about is that because this will be manually update

[2017-08-15 21:20] jailandrade commented on #77
I updated the guide and created some basic examples

[2017-08-16 09:59] brianking commented on #82
Looks good, thanks. Closing.

[2017-08-16 09:59] #82 closed

[2017-08-16 10:03] brianking commented on #84
In issue #11 @rersch wrote:

We need to point out very strongly at a prominent spot that we are working on integration solutions for engineering/development environments and not on SW integration in general.
On place could be the text in the banner: e.g. "An open community building practical specifications to integrate data in engineering and SW development environments".

[2017-08-16 10:05] brianking commented on #79
@LeoTrujillo do all the items load at once when the page loads, or do they lazily load as the user scrolls down? I believe we want the lazy load.

[2017-08-16 10:14] brianking commented on #75
Thanks @jailandrade

There is still one issue. The text in the banner does not fill the correct width. Compare with Resources page for example.

![firefox_screenshot_2017-08-16t10-11-16 080z](https://user-images.githubusercontent.com/114116/29358739-699cdafa-827c-11e7-9fc1-1b1b21f91e00.png)

[2017-08-16 10:16] brianking commented on #83
Thanks, closing this now.

[2017-08-16 10:16] #83 closed

[2017-08-16 10:30] brianking commented on #78
Thanks @LeoTrujillo

I found one bug. When you hover over the Presentation box (3rd box on right of second row), the rows underneath jump / move position.

[2017-08-16 12:34] brianking commented on #77
Thank you for this @jailandrade, so good so far. However, I think we need to define some of the text you use to make things clearer, and to perhaps add more examples.

So some questions for you:

1. We should add a section at the start giving an introduction on what the document is about. For example, "This document gives instructions on how to create content for the site. We welcome contributions

[2017-08-16 13:34] brianking opened #90 "Change link in Resources section on homepage"
Current:
* The whole top part of the Resoruces section on the homepage is a link, going to /resources/.

Change to:
* Remove the link from the section
* Add 'See all...' text just after the description, and make that the link. Make sure it is styled to look like a link.

The [design](https://xd.adobe.com/view/f5a37d61-fe4c-4a78-a114-b75c9cc2010c/) shows what it looks like.

[2017-08-16 13:46] brianking opened #91 "Banner Changes on News page"
2 changes:

1. Change title from all uppercase to 'News'.
2. To be consistent with other pages such as Resources, add a description. Make sure it spans the appropriate width. The text should be as follows.

The latest happenings in the OSLC community. This could be site announcements, software news, stories from the wider OSLC ecosystem, and more.

[2017-08-16 15:02] LeoTrujillo commented on #78
ok @brianking working on it

[2017-08-16 15:14] jailandrade commented on #75
working on it

[2017-08-16 15:18] LeoTrujillo commented on #90
@brianking , working on it

[2017-08-16 15:49] jailandrade commented on #80
This is ready to test

[2017-08-16 15:50] jailandrade commented on #91
Ready to test

[2017-08-16 15:56] brianking commented on #78
Still jumping a little, but only in Firefox (not Chrome).

[2017-08-16 15:58] LeoTrujillo commented on #78
ok, Testing and working on it

[2017-08-16 15:59] brianking commented on #75
Now it is stretching too far, and it looks like the font size is different than in other banners.

Make sure consistent style classes are being used in all banners.

(testing on Firefox)

[2017-08-16 16:01] brianking commented on #90
Works for me, please close if you have completed the work.

[2017-08-16 17:00] brianking commented on #80
Looks good now, closing.

[2017-08-16 17:00] #80 closed

[2017-08-16 17:02] brianking commented on #91
Looks good, closing!

[2017-08-16 17:02] #91 closed

[2017-08-16 17:11] #90 closed

[2017-08-16 18:04] LeoTrujillo commented on #78
@brianking I have tested the boxes in firefox, safari and chrome and now they look the same and they have no problems. Check it out and let me know if you have problems.

[2017-08-16 19:04] LeoTrujillo commented on #84
@brianking So I have to change the text again like it was before?

[2017-08-16 20:02] brianking commented on #78
Fixed now!

[2017-08-16 20:02] #78 closed

[2017-08-17 04:19] jailandrade commented on #75
I uploaded a new version for this

[2017-08-17 12:44] brianking commented on #84
@LeoTrujillo No, after talking with @axelreichwein some more about this, we can leave as-is. Closing.

[2017-08-17 12:44] #84 closed

[2017-08-17 12:47] brianking commented on #75
Ok this is good enough for now. I will open new issues for anything else if needed. Closing.

[2017-08-17 12:47] #75 closed

[2017-08-17 16:20] LeoTrujillo commented on #48
ok, sure I'm working on it

[2017-08-17 16:20] brianking commented on #79
@LeoTrujillo is going to work on this today.

First check if there is anything native to Hugo, and check the Hugo Discourse forums for discussions on this.

If nothing can be found, next look at what lightweight JS libraries exist for this.

[2017-08-17 16:23] brianking opened #96 "Search for Resources page"
Implement the search box functionality for the Resources page.

Check first for a search function that might be native to Hugo, and for relevant discussions on the Hugo Discourse forums.

[2017-08-17 16:28] brianking opened #97 "Filtering for Resources Page"
Implement the filtering functionality for the Resources page.

Check first for something native to Hugo, and for relevant discussions on the Hugo Discourse forums.

Note that the [current Resources page](http://open-services.net/resources/) already has this, but the solution just loads a separate sub-page for each type. It might be more elegant for us to filter on the same page.

It has to work ni

[2017-08-17 16:51] brianking opened #98 "Popular Posts on Blog Page"
Show 3-4 of the most popular posts in the sidebar of the News page.

[2017-08-17 17:00] brianking opened #99 "Categories on News Page"
There are a few parts to this:

* Investigate how Hugo does categories
* Investigate how to create them, and how to add a category in a post
* Create the initial set of 3-4 categories for OSLC, and add them to the current sample posts
* Add a categories dropdown to the blog page sidebar, and implement filtering

[2017-08-17 17:03] brianking commented on #71
Is this done ... showing actual posts? Also put some images in the sample posts, and not rotating images.

[2017-08-17 17:05] brianking opened #100 "Terms of Use Page"
Add a terms of use page. For reference, see existing page at:

https://open-services.net/terms/

[2017-08-17 17:08] brianking opened #101 "Privacy Policy Page"
Add a Privacy Policy page. For reference, see the current page:

https://open-services.net/privacy/

[2017-08-17 19:06] jailandrade commented on #71
Is showing actual posts.

The images are obtained from the banner attribute in each markdown file. The images must be placed in the folder /static/img/oslc/

[2017-08-18 09:59] brianking commented on #77
Please also add more information specifically about blog posts ... where to put author information, images so that they show up in previews, and so on.

[2017-08-18 16:13] brianking commented on #71
Ok done!

[2017-08-18 16:13] #71 closed

[2017-08-21 04:17] jailandrade commented on #77
I updated the user guide

[2017-08-21 05:31] jailandrade commented on #97
We can replicate the current behavior of the old site and I think it's the simplest solution.

But if we want to be more creative we can use the search implementation in a different way. I don't think it's a good idea to filter and search at the same time but if the search works the filter can work too

[2017-08-21 05:34] jailandrade commented on #96
After investigating more options, I found this https://github.com/gohugoio/hugo/blob/4c220c4ac2302b6c0a535c1099f2d393d57049c6/docs/content/tools/search.md

I'm looking in every solution

[2017-08-21 19:07] LeoTrujillo commented on #79
the inifinite scroll is working now

[2017-08-22 01:28] jailandrade commented on #97
Search and filter working now, not at the same time, but working

[2017-08-22 01:31] jailandrade commented on #96
The search is working now, but now we need to figure out some way how to generate a json file with all the posts from resources in every deployment, we have a solution in the static-src folder that could work but we  need to test in production mode

[2017-08-22 04:18] jailandrade commented on #99
I just upload some changes for this task

[2017-08-22 10:53] brianking opened #105 "Author Links on Blog Posts"
1. Ensure that the correct author is accredited on blog posts moving forward. Is this taken from the github commit, or from somewhere else?

2. Fix the links on the current posts.

[2017-08-22 13:54] brianking commented on #96
I like it, great job!

We have to ask ourselves if:
a) Search includes text and filter
b) Search is text only (we would need to move the search button over beside the search boc), and filtering is a separate function that just shows posts from each category

Right now it is implemented as number 1, and that seems like the right choice.

At the moment however it does not work like that. Steps to re

[2017-08-22 16:40] brianking commented on #96
Ah, I see your comment @jailandrade in issue #97 about search and filtering together. Will followup there.

[2017-08-22 22:12] gabrielfdac commented on #51
Updated the link with the new categories and search layout

[2017-08-22 22:32] gabrielfdac commented on #28
Link has been updated with the latest requests. (Took the liberty of creating a "code snippet" style, which we could reuse on the Tutorials) Let me know what you think.

[2017-08-22 22:58] gabrielfdac commented on #8
I just updated the link with all of the sub-pages. The first two sub-pages have Hero's and the other 3 don't, I've done that so that it's easy to compare.

Also this time around I used the prototyping abilities of Adobe XD. So you can actually click the sub-menu as if they were actually links or the menu on the bottom of the page (as well as you keyboard arrows) to navigate. Any questions about it

[2017-08-22 23:32] gabrielfdac commented on #1
https://xd.adobe.com/view/1dbb0fb7-a470-4359-81cd-9fd78f0cb6b9

Here's the link for the Tutorials design.

[2017-08-23 09:39] brianking commented on #51
https://xd.adobe.com/view/d999f9bc-f845-4de9-9dc6-80d397ebbcb6/

Looks good to me @gabrielfdac

As for the individual post page at:

https://xd.adobe.com/view/7c0ebd40-d77c-4acd-8444-4555bc6da472/

... let's abandon the categories at the top there as well. Either we decide to have a sidebar on the post page as well, or we don't have categories and blog search there at all.

[2017-08-23 10:29] brianking commented on #28
Looks great @gabrielfdac

I'll open now a different issue to implement this.

[2017-08-23 10:31] brianking opened #106 "Implement Case Studies Page"
Issue #28 talks about the design (and content) of the Case Studies page.

This issue is to implement the theme for it based on the design:

https://xd.adobe.com/view/3f063148-9a3a-4143-bf33-fdf74ae577e7/

[2017-08-23 10:44] brianking commented on #8
@gabrielfdac I like how the page you are on is selected by an underline in the menu.

If we do go with separate pages, then we're going to have to be very clear on the content .. the About page has the short version, and the individual pages have the long version. But that's my job. I'll have a better feeling for this soon.

@jail Does the current content structure allow for a sub-page of About?

[2017-08-23 10:59] brianking commented on #1
That's good for a first version.

We'll build it out with this tutorial to start with, and then make changes as needed.
http://oslc.github.io/developing-oslc-applications/

I think for the first pass, the navigation arrows are not needed.

I'll open a separate issue to get this implemented.

[2017-08-23 11:02] brianking opened #107 "Implement the Tutorial resource theme page"
From issue #1, let's implement the Tutorial resource. The criteria are:

* It's a Resource, so has to be a sub-page of that
* A template exists that people can copy to create their own tutorial

[2017-08-23 11:06] brianking commented on #12
We have a couple more pages left, open as other issues, so am closing this one off now.

[2017-08-23 11:06] #12 closed

[2017-08-23 11:07] brianking commented on #81
Confirming fixed and closing.

[2017-08-23 11:07] #81 closed

[2017-08-23 11:09] brianking commented on #79
Marking as fixed and closing. If there are any scroll issues, please open separately.

[2017-08-23 11:09] #79 closed

[2017-08-23 11:12] brianking commented on #99
@jailandrade the UI to be implemented for this is now ready at:

https://xd.adobe.com/view/d999f9bc-f845-4de9-9dc6-80d397ebbcb6/

[2017-08-23 11:15] brianking commented on #7
Two outstanding items here:

* Add some lead in text
* Add 'Learn More' buttons

[2017-08-23 15:34] LeoTrujillo commented on #99
I'm working with the Search form interface

[2017-08-23 16:09] jailandrade commented on #51
Ok, @LeoTrujillo is going to do the interface and I'm going to make the functionality

[2017-08-23 16:20] jailandrade commented on #1
I will be working on this

[2017-08-23 17:03] brianking opened #108 "Remove hugo-universal-theme"
Please remove this folder and all files within if it is not needed anymore.

[2017-08-23 17:15] LeoTrujillo commented on #99
The Search form interface in news page is done

[2017-08-23 17:19] LeoTrujillo commented on #106
Working on it

[2017-08-23 17:20] brianking opened #110 "Define Working Groups definition and content"
This issue if two-fold

- [ ] Define exactly what a Working Group is in the context of the new site
- [ ] Write the content

Working groups are introduced on the Contribute page. Is that introduction enough, or do we need a page similar to the current one at:

http://open-services.net/workgroups/

[2017-08-23 17:46] m257645 opened #111 "About - Vision and Mission Statement"
Here is something I would posit for consideration as the up front Mission and Vision sections portions of the About section.

**# Our Mission**
**## Mission**
The OSLC Community is intended to be an open community collaborating on integration challenges around lifecycle applications, capturing user scenarios for understanding and evolving related specifications for integrating software, and develo

[2017-08-23 21:06] brianking commented on #50
@jailandrade Are we ok on responsive design now?

[2017-08-23 21:08] brianking opened #112 "Contribute Content"
Add content and links to Contribute page boxes.

Sites for inspiration:
* https://coreos.com/community/
* https://www.ansible.com/community
* ...

[2017-08-23 21:17] brianking commented on #111
Thank you @m257645, will consider this for the About page when I update the content tomorrow.

[2017-08-23 22:06] jailandrade commented on #108
I deleted this in the branch I'm working

[2017-08-23 22:08] jailandrade commented on #50
Yes, I forgot to comment on this issue.

[2017-08-23 22:45] LeoTrujillo commented on #106
@brianking now this page is working, it is in `/case-studies` if you want to check. These changes are already in master branch

[2017-08-24 09:22] brianking commented on #96
@jailandrade has the generation of the json file been worked out yet? If so, can you explain how it works.

[2017-08-24 09:30] brianking commented on #99
UI looks of, but in the filter menu clicking on the arrow does not work. It only works if you click on the text. Using Firefox. It looks like it needs styling as well, as the items are very close together in the dropdown.

Also, the categories need to me moved from the bottom of the sidebar into the dropdown and the functionality hooked up.

[2017-08-24 09:32] brianking commented on #50
Ok thanks, then closing.

[2017-08-24 09:32] #50 closed

[2017-08-24 12:51] brianking opened #114 "Template for About Single page"
We are going to be having single pages under /about/. We need a template for these. single.html in the theme?

The first page you can add is mission.html

Also it would be nice to have separate directories for the following files, to better differentiate them.

* about content that is on the main About page (nearly everything that is in /about/)
* about sub-pages

[2017-08-24 12:52] brianking commented on #18
Waiting on issue #114 before doing this and the other About sub-pages.

[2017-08-24 14:46] brianking opened #115 "Gather Testimonials for Quotes on About Page"
Near the bottom of the page at https://oslc.github.io/about/ we have a carousel of quotes. We should have at least 3 to start. They will feature:

* Your photo
* Name
* Company
* Quote

The quote should be something positive about your experience with OSLC. It can be a software integration problem that OSLC helped solve, a community experience, or something else relevant.

If you are interested in

[2017-08-24 14:52] jailandrade commented on #96
Yes, for this you need to have nodejs installed.

1. Go to the static-src folder
2. Run `npm install`
3. Run `node search.js`

Now you have a file `static/resources/resources.json` ready to be searched

[2017-08-24 14:56] brianking opened #116 "Gather Case Studies Content"
The test page is at:
https://oslc.github.io/case-studies/

These are more involved stories about the usage of OSLC technologies, with a couple of paragraphs and media included (pictures, charts, videos, ...).

They are from 3 viewpoints, and thus targeted at 3 different audiences:
* Users, i.e. data integrators
* Vendors, who support OSLC in their tools
* Developers, their experiences working with

[2017-08-24 14:56] jailandrade commented on #114
Will be using the same design in the single.html that we are using in the about page?

[2017-08-24 15:07] brianking commented on #96
Is it a one-time thing, or needs to be done anytime there is new content?

[2017-08-24 15:26] LeoTrujillo commented on #106
@gabrielfdac I finished the styles in this page but I need the images and to set them in the page, can you send me those images please?

[2017-08-24 15:29] brianking opened #117 "404 Page"
https://oslc.github.io/foobar/

Right now it is using an old theme, please replace it with something in the style of the OSLC theme.

[2017-08-24 15:33] LeoTrujillo commented on #117
yes, sure. Working on it

[2017-08-24 15:45] brianking commented on #51
One outstanding task is that the posts on the homepage should match real posts.

[2017-08-24 15:46] brianking commented on #117
Might want to check other error code pages as well.

[2017-08-24 15:47] brianking commented on #114
Let's just go with a basic design right now with white background, that supports text and images at least.

[2017-08-24 15:52] brianking opened #118 "About Navigation"
Change the sub navigation items on About to point to sub-pages, and not to anchors on the page.

Also note the subtle design feature of the selected page, where it is underlined.

You can see it here (and click around to see it working):

https://xd.adobe.com/view/5d59ec65-69ae-431b-b35c-933d16e4c61d/

[2017-08-24 18:46] LeoTrujillo commented on #117
@brianking I made the 404 template and added styles, in localhost this is not working because we need to configure the server, according of Hugo documentation if the page is in github pages is not necessary configure anything, automatically the template renders when the url or the page doesn't exist.

https://gohugo.io/templates/404/

here is the documentation, I don't know what happen but now git

[2017-08-25 01:12] jailandrade commented on #107
The template is ready, although the search is still not implemented

[2017-08-25 01:12] jailandrade commented on #108
This change is already in master

[2017-08-25 01:36] jailandrade commented on #99
I just implemented the search for the news, I didn't integrate the categories select function because I have doubts about how this will be works

[2017-08-25 01:58] jailandrade commented on #51
This was a little tricky but now I think it's solved

[2017-08-25 01:59] jailandrade commented on #96
It needs to be done anytime there is new content, I think we can automatize with the deployment.

[2017-08-25 02:30] jailandrade commented on #105
The author of the post both in news and resources is defined in the FrontEnd Matter with the tag/attribute `author`. For the old posts I can create a script to convert the html to markdown, to automatize this task.

[2017-08-25 05:38] jailandrade commented on #118
I already implemented this feature in master

[2017-08-25 08:41] brianking opened #122 "Remove old theme files in public folder"
Technically this is a different repository, but we should remove files and other remnants of the old universal theme in the public folder. That maps to:

https://github.com/OSLC/oslc.github.io

I think doing all the git work in /public/ and committing from there should work.

[2017-08-25 08:47] brianking commented on #117
Issues seem to be fixed, looks good to me now. Closing.

[2017-08-25 08:47] #117 closed

[2017-08-25 08:51] brianking commented on #108
Thanks, closing. I opened issue #122 to remove the files in the deployment repository.

[2017-08-25 08:51] #108 closed

[2017-08-25 08:55] brianking commented on #99
What doubts do you have @jailandrade ?

I think we should keep it simple.

* Search is for text search only in the blog. It does not interact with categories
* Selecting a category shows all post from that category

This is how most blogs I know work with these features.

The UI might need to be tweaked to make these more separate.

[2017-08-25 09:04] brianking commented on #51
Great! There are a few design tweaks needed, I will open another issue for that. Closing this.

[2017-08-25 09:04] #51 closed

[2017-08-25 14:56] jailandrade commented on #99
So, I think we need to change the style, I'll do it

[2017-08-25 20:09] LeoTrujillo commented on #106
I added the case studies section in the home page and added a button to redirect a that page, please tell me what do you think. Just missing the images  to add them in each section, now I just added a sample image.
<img width="1440" alt="c" src="https://user-images.githubusercontent.com/3343042/29730774-3d81e474-89a7-11e7-943a-52971bef2ee7.png">

[2017-08-26 05:52] jailandrade commented on #114
So, the templates are ready, but need to match a given structure.

I use governance.md, people.md, mission.md, faq.md and organizations.md to enable the url on the subpage, so we can not delete or delete the category attribute of those files.

For the content in those pages I use the other markdown files in the content/about folder, you will notice that they have the tag for the content type and a

[2017-08-26 09:56] brianking opened #124 "Fixes to News Section on Homepage"
Here is the homepage design:

https://xd.adobe.com/view/f5a37d61-fe4c-4a78-a114-b75c9cc2010c/

Notice some things in the version currently implemented vs the design.

1. The whole box is too tall. This looks like a combination of the image box being bigger, but definitely the text box is too tall.
2. The text needs to be clipped. At a certain length, it needs to be cut off and then ended with an e

[2017-08-26 09:58] brianking commented on #76
Question also applies to blog posts on home page.

[2017-08-26 10:00] brianking opened #125 "Wrong footer colours on Homepage"
The homepage footer is white text on dark background. However on the rest of the site, it is the inverse.

[2017-08-26 10:14] brianking opened #126 "Search not working on live site"
Neither the Resources nor News search are working on oslc.github.io. They work on on localhost.

Without know too much how it works, one theory I have is that the paths assigned in the json files are not resolving in a live environment.

[2017-08-26 10:21] brianking commented on #97
Closing, if there are any fixes needed here we can open new issues.

[2017-08-26 10:21] #97 closed

[2017-08-26 10:21] brianking commented on #96
Closing, if there are any fixes needed here we can open new issues.

[2017-08-26 10:21] #96 closed

[2017-08-26 10:26] brianking opened #127 "Tweaks and Fixes to Resources Filtering"
As search and filtering work independently:

- [x] Filtering is broken, needs to be fixed
- [x] Move Search button over beside the search box
- [x] Remove duplicate 'Video' entry in the dropdown
- [x] Remove 'Podcast' entry for now as we will not launch with any of these. I will also remove the sample podcast resources we have.

[2017-08-26 10:55] brianking commented on #127
@jailandrade can you please fix the two outstanding tasks in this issue.

[2017-08-26 11:10] brianking opened #128 "Seed Resources"
Add at least 2 resources from each category, from the old site to the new.

[2017-08-26 13:42] brianking commented on #128
Changes so far (live at https://oslc.github.io/resources/):

* Added 2 articles
* Added 2 videos
* Added 2 presentations
* Added 2 tools
* Removed all placeholder resources

TODO:

* Determine what tutorials to add
* Hunt for more recent resources to add

[2017-08-26 14:23] brianking opened #129 "Resources Page Changes"
Design for reference: https://xd.adobe.com/view/40014562-2b02-42ca-8a69-4da9a947ccba/

Please implement the following changes on the Resources page:

- [x] Crop the text of top featured box, when necessary. As you can see with the current post in there 'Debunking the OSLC Link-Only Myth', it shows all the text of the post and the box is taller than it should be (check design).
- [x] Fix the Detail

[2017-08-26 14:40] brianking commented on #118
@jailandrade Excellent, thanks.

I found a bug. Go to https://oslc.github.io/about/ and there is no underline on any items. Hover over the sub-menu and the underline appears, but the menu bar jumps in size.

There are a few ways to fix this:

1. We make the Mission page the home page for About, and have it underlined by default
2. Make the sub-menu bar slightly taller so that when the underline ap

[2017-08-27 06:41] jailandrade commented on #124
Latest changes done, since the design does not contemplate real data I made these changes.

It is really necessary to have the point number two, can't we have a button "read more" or something similar? I think it's more user friendly

[2017-08-27 06:42] jailandrade commented on #76
I applied a patch for the links @brianking

[2017-08-27 06:48] jailandrade commented on #118
Sure, I implemented the option 1 to solve this.

[2017-08-27 07:01] jailandrade commented on #129
![image](https://user-images.githubusercontent.com/512046/29747805-5c1b1d40-8acb-11e7-8b7a-c91674d035cf.png)

![image](https://user-images.githubusercontent.com/512046/29747808-71b931b4-8acb-11e7-8c16-401aedf4d372.png)

Those are screenshots showing the latest changes

[2017-08-27 07:11] jailandrade commented on #124
Ok, after a little research we have ellipsis

![image](https://user-images.githubusercontent.com/512046/29747841-f57caf66-8acc-11e7-9ca7-2fa063f52a5b.png)

[2017-08-27 07:15] jailandrade commented on #129
I don't think it can work everywhere or everytime because the content but this is a solution to crop the content in resource posts with the ellipsis

![image](https://user-images.githubusercontent.com/512046/29747862-9624f162-8acd-11e7-88a3-e13036eb8e22.png)

[2017-08-27 07:50] jailandrade commented on #127
Filtering is not broken, it was an error with the process to generate the files. I created `content-src/search.js` and `content-src/resources.js`, so we need to run each file with node.

Also, note that the search works with the `uri`(this is the name of the file), `title`, `content` and `tag`, and the filtering here works differently from the news page, here it doesn't open a new page.

If we hav

[2017-08-27 07:51] jailandrade commented on #126
I'll work in this first thing monday morning

[2017-08-28 13:47] jailandrade commented on #126
The paths asigned for the files are `Site.BaseUrl/resources/resources.json` and `Site.BaseUrl/news/news.json`. I can access to [https://oslc.github.io/news/news.json](https://oslc.github.io/news/news.json) but not to [https://oslc.github.io/resources/resources.json](https://oslc.github.io/resources/resources.json), therefore I think the problem is related to #127. With the changes from the weekend

[2017-08-28 13:48] jailandrade commented on #126
This inside the `static-src` folder

[2017-08-28 15:23] brianking commented on #76
@LeoTrujillo Can you make the tweak we discussed at the end of call? When hovering over the post title, change the colour to a lighter shade of grey.

[2017-08-28 15:24] brianking commented on #7
Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:24] #7 closed

[2017-08-28 15:28] brianking commented on #8
Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:28] #8 closed

[2017-08-28 15:29] brianking commented on #9
Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:29] #9 closed

[2017-08-28 15:30] brianking commented on #10
Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:30] #10 closed

[2017-08-28 15:35] brianking commented on #13
Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:35] #13 closed

[2017-08-28 15:39] brianking commented on #28
Design done. Closing this now. We can open new issues for whatever is outstanding.

[2017-08-28 15:39] #28 closed

[2017-08-28 15:42] brianking commented on #105
As discussed on the call today, 2 work items here:

1. Add a tag to posts for author url, and use that as the hyperlink on the author's name
2. Ensure that the author name has the same size font as the date and comments text to the left and right, and that they all align horizontally.

[2017-08-28 15:50] LeoTrujillo commented on #76
sure

[2017-08-28 16:16] brianking commented on #126
@jailandrade Did you run the conversions again yet? This is still not working for me.

[2017-08-28 16:17] brianking commented on #118
Great, closing now.

[2017-08-28 16:17] #118 closed

[2017-08-28 16:19] LeoTrujillo commented on #76
I added the change

[2017-08-28 17:39] jailandrade commented on #126
Ok, I found what was the problem, I sent a change, can you deploy again to test?

[2017-08-28 17:43] jailandrade commented on #15
Let me work on this

[2017-08-28 18:29] jailandrade commented on #105
This is ready to test in master

[2017-08-28 19:12] brianking commented on #124
I am not seeing the ellipsis on Firefox.

![firefox_screenshot_2017-08-28t19-12-03 819z](https://user-images.githubusercontent.com/114116/29789212-a8c96fc8-8c35-11e7-8e03-75f2a46f7b76.png)

[2017-08-28 19:20] brianking commented on #129
Again, I can not see the ellipsis in Firefox (can in Chrome and Safari).

![firefox_screenshot_2017-08-28t19-19-50 212z](https://user-images.githubusercontent.com/114116/29789547-aa246714-8c36-11e7-8477-eb6a5c2122ae.png)

Everything else works!

[2017-08-28 19:24] brianking commented on #76
Great, thanks. Closing.

[2017-08-28 19:24] #76 closed

[2017-08-28 19:38] brianking commented on #105
Link works, but author text is still too big. Inspection shows it is 22px while other text on that line is 20px.

[2017-08-28 19:52] brianking commented on #15
I don't know how other themes have implemented this, but it might be worth into how they do it first.

e.g. https://themes.gohugo.io/startbootstrap-clean-blog/

I've created a category to use for testing, if needed.

http://discourse.oslc.co/c/blog-posts

What I kind of envisage is that for every blog post, there is an associated thread. And when someone comments on that thread on Discourse, it ap

[2017-08-28 19:55] brianking commented on #126
Yes, working now. Is it automated for new content?

[2017-08-28 19:57] brianking opened #132 "News Search Bug"
Steps to reproduce.

1. Search for OSLC3 - 1 post appears
2. Clear search box and select the search button again

Expected:
All posts appear again

Actual
No posts appear

[2017-08-28 19:59] brianking opened #133 "Site Search"
Implement site wide search.

I'm open to where the search box should be, but the header seems the most logical place.

[2017-08-28 20:09] jailandrade commented on #1
I uploaded this resource post to master

[2017-08-28 20:24] jailandrade commented on #105
I set a fixed font-size for the author name.

[2017-08-28 21:01] jailandrade commented on #124
I don't think it could work everytime in Firefox because the content has `overflow:hidden` property and a special property `webkit-line-clamp` that only works in Chrome. Also because we don't know and we can't controllate the content in the end, it's difficult to calculate what is the best approach to add ellipsis

[2017-08-28 21:08] jailandrade commented on #126
still not, about this, which will be the server to launch in production? Digital Ocean or Github Pages?

[2017-08-28 21:13] jailandrade commented on #132
I let a llitle bug here but now is fixed

[2017-08-28 21:15] jailandrade commented on #129
Same as the ellipsis in the news section in Home, it's possible but I need to do it with JavaScript, let me see what can be done.

[2017-08-28 21:17] jailandrade commented on #133
Yep, I can put a search box in the header and create the /search page to render the results.

[2017-08-28 21:39] jailandrade commented on #129
I just upload a script to add the ellipsis, now it works in Firefox.

[2017-08-28 21:40] jailandrade commented on #124
I just upload a script to add the ellipsis, replacing the css class; now it works in Firefox.

[2017-08-28 21:57] jailandrade commented on #15
For this task we need to follow the steps from https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 to get the embed url.

[2017-08-28 22:44] gabrielfdac commented on #69
![logo and text](https://user-images.githubusercontent.com/16785479/29796719-62d484b6-8c18-11e7-915c-32e208c0825b.png)

Here it is. I used the same font we've used across the entire site (Open Sans). Let me know if there's anything I should change.

[2017-08-29 12:04] brianking commented on #105
Font size looks consistent now, closing.

[2017-08-29 12:04] #105 closed

[2017-08-29 12:06] brianking commented on #126
Digital Ocean

[2017-08-29 12:09] brianking commented on #132
The bug is still there. Essentially, if I select the Search button any time there is no text in the search box, all posts disappear.

[2017-08-29 12:12] brianking commented on #129
It's not working on all boxes. Same now in Firefox and Chrome. Check the bottom row in this image.

![firefox_screenshot_2017-08-29t12-11-46 493z](https://user-images.githubusercontent.com/114116/29820222-1e7654d2-8cc4-11e7-9d47-494b9a08b59d.png)

[2017-08-29 12:14] brianking commented on #124
Great, closing now.

[2017-08-29 12:14] #124 closed

[2017-08-29 17:47] LeoTrujillo commented on #129
I finished with that problem and I tested in firefox, chrome and safari.

[2017-08-29 19:16] jailandrade commented on #132
I submit another patch to this

[2017-08-29 19:39] jailandrade commented on #126
I will prepare a script to launch the task with every deployment, to generate the content automaticalley, but this task its also related to #133 so when I finish that task I'll integrate the script.

[2017-08-29 19:54] brianking commented on #69
@gabrielfdac Please make a smaller image as we discussed, and integrate it into the site.

Please also make versions for Discourse, here are the specs:

* logo url - The logo image at the top left of your site, should be a wide rectangle shape. If left blank site title text will be shown.
* logo small url - The small logo image at the top left of your site, should be a square shape, seen when scro

[2017-08-29 20:01] brianking commented on #129
@LeoTrujillo I don't like the new solution for 2 reasons:

1. It cuts all text to the same length, which means that all the boxes have too much whitespace now.
2. Maybe it was happening before, but the bottom of some headings are clipped, e.g. is there is a lower case 'g' in the title.

This image shows both issues:

![firefox_screenshot_2017-08-29t20-01-08 028z](https://user-images.githubusercont

[2017-08-29 20:04] LeoTrujillo commented on #129
Ok, no problem I'm going to try with another way

[2017-08-29 20:04] brianking commented on #132
Thanks, works now.

[2017-08-29 20:04] #132 closed

[2017-08-30 11:04] brianking commented on #129
@LeoTrujillo if it takes a while, then please revert back to previous state for now.

[2017-08-30 14:29] LeoTrujillo commented on #129
ok, sure

[2017-08-31 13:15] brianking opened #139 "Updates to Contributing Setup Doc"
The doc is here:

https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup

Add details about:

- [ ] CSS generation after changes. scss handling.
- [x] Updating json files for Search
- [x] Anything else?

[2017-08-31 13:17] brianking commented on #127
TODO:

* Only filter by category, not by text
* Further testing and fixes as necessary

[2017-08-31 13:32] brianking commented on #133
I tried this on localhost, and so far so good. Some observations:

* When you search with a blank box (no text), it returns no results. It should not allow empty searches
* When there are no results, tell the user. Right now it is just empty
* Some of the search results are for pages that do not exist. For example, try 'tasktop'. The top result points to:
http://localhost:1313/news/announcements/l

[2017-09-08 10:54] brianking opened #140 "Update Page Titles"
Update all the page title to have the following format:

Title | OSLC

[2017-09-08 14:29] LeoTrujillo commented on #140
Working on it

[2017-09-08 14:46] LeoTrujillo commented on #140
The change are ready in master branch

[2017-09-15 13:03] brianking commented on #140
Tested, looks good. Closing.

[2017-09-15 13:03] #140 closed

[2017-09-15 13:04] brianking commented on #133
@jailandrade What's the status here? Do we need to abandon current solution for new one?

[2017-09-15 13:08] brianking commented on #129
TODO : fix ellipsis on boxes that lazily load with infinite scroll.

[2017-09-15 13:12] brianking commented on #127
TODO: Make sure filtering only loads items from that category, and not items that contain that text.

This is what happens, for example, when you select 'Tool'. Also an article and tutorial appear, and they should not.

![firefox_screenshot_2017-09-15t13-11-12 216z](https://user-images.githubusercontent.com/114116/30483735-39608ae4-9a28-11e7-930e-9dfaf906eb9c.png)

[2017-09-15 13:16] brianking commented on #126
@jailandrade What's the status of this one. It is working for me on the live site now both on Resources and News. What about the script to generate the json?

[2017-09-15 13:20] brianking opened #142 "Show Number of Results on Search"
On both the News and Resources Page, when we have a set of results, show the number of results at the top.

0 items found

1 item found

2 items found

...

[2017-09-15 13:34] brianking commented on #114
@jailandrade Question:

What are the characteristics (I mean, what does the code look like) that makes a page iterative (i.e. adding another item to be appended like in the FAQ) vs. a static page (looks like Mission page is static right now, even though I see more than one Mission file in the content folder)?

I think we'll need both, dynamic and static, and I want to understand how to build both.

[2017-09-15 13:42] brianking commented on #107
2 things to do here:

1. Remove Search for now. File an issue to implement it later.

2. Video playback is not working.

![firefox_screenshot_2017-09-15t13-36-40 770z](https://user-images.githubusercontent.com/114116/30485024-741001b6-9a2c-11e7-8ca6-bb7185968b9e.png)

[2017-09-15 15:22] jailandrade commented on #133
yep, we could go without results pages and go immediately to the result

[2017-09-15 17:09] LeoTrujillo commented on #129
I implemented a solution but I had to cover the last line of information and with css put the ellipsis because I tried to cover just a little part of that information but some letters looked weird because was missing a little part of that letter, so I chose that solution, I'm going to merge that change in master and let me know what do you think about it.
<img width="1078" alt="cap" src="https://u

[2017-09-15 18:46] jailandrade commented on #107
This task is ready to review in master

[2017-09-15 18:58] brianking commented on #107
Reviewed and working. If you are comfortable tutorials are ready for prime time, please close this. Don't forget to open the issue about doing the search later.

[2017-09-16 06:45] jailandrade commented on #126
I have to modify the script to include tags, author and date attributes.

[2017-09-16 06:50] jailandrade commented on #127
I'll update this script to work differently

[2017-09-17 06:59] #107 closed

[2017-09-17 07:04] jailandrade opened #144 "Search in Resource Tutorial"
Create a search function for the resource tutorial. This function only need to mark the coincidences in the text. Look for the solution less complicated.

[2017-09-18 09:41] brianking commented on #129
Great, thanks. I notice one thing on the boxes you scroll down to. The bottom of characters that go below the line are cut off. Look at the letter 'p' in the image I am attaching. However, let's call this 'good enough' for now, and close this out. I will open issues for what is remaining, but it is not a priority right now.

![firefox_screenshot_2017-09-18t09-35-14 181z](https://user-images.github

[2017-09-18 09:41] #129 closed

[2017-09-19 09:22] brianking commented on #106
Content related -- re-use some content from here:
http://open-services.net/wiki/communications/Why-should-you-care-about-OSLC/

[2017-09-19 14:34] jailandrade commented on #106
working on it

[2017-09-20 12:41] brianking opened #146 "WG Infrastructure Proposal"
Currently Working Groups are:

1. A site landing page
e.g. http://open-services.net/workgroups/alm-plm-interoperability-2nd-edition/
2. A mailing list
e.g. http://open-services.net/mailman/listinfo/oslc-plm_open-services.net
3. A forum
e.g. http://open-services.net/forums/viewforum/23/
4. Wiki pages
e.g. http://open-services.net/wiki/alm-plm-interoperability-2nd-edition/

We can still provide a la

[2017-09-20 12:43] brianking commented on #142
Done, closing. If there is anything remaining here, please open a new issue.

[2017-09-20 12:43] #142 closed

[2017-09-20 14:19] brianking commented on #110
Closing this and using issue #146 instead.

[2017-09-20 14:19] #110 closed

[2017-09-21 10:51] brianking commented on #68
Priority 1 @hectorsanchezmx

[2017-09-21 11:04] brianking opened #147 "New Default Blog Post Banner Image"
Replace the current image. This is for the case where a post does not have any image. It should be in the template as well.

Criteria:

* Web-ready : Good resolution but a small file that loads quickly
* Not as tall - takes up less vertical space so you can see the text quicker without scrolling
* Scales better when it is previewed on the homepage and the most popular posts sidebar. I'm not sure i

[2017-09-21 12:04] brianking opened #148 "Update Blog Post Banner Images"
For blog posts that do have images, take the most appropriate one and add it as the banner image. This will mean:

* Download the image and adding it static/img/ in the repository
* Updating the banner meta tag on the post.

[2017-09-21 12:08] brianking opened #149 "Social Sharing Updates on Blog"
You can share posts in 2 places, on the blog summary page and the individual post page. Please make the following changes to both.

* Remove G+
* Add LinkedIn
* Add Email
* Sharing window should be a new popup window, not opening in the same tab

[2017-09-21 14:36] rersch commented on #146
I like the idea to use Github projects for the UGs, if this keeps the admin overhead low. It's better than letting the projects decide and all are using different tools. Since I cannot judge all implications at the moment, can we ran a little experiment with the planned Pattern UG? Can you create a Github project, and a (minimal) landing page pointing to the Github project?
Wesley and I could try

[2017-09-21 18:27] jailandrade commented on #127
I have to increase the number of items in the pagination to solve this.

[2017-09-21 19:17] brianking opened #150 "Check Font and Font Size in Banner Text"
On the following pages, check the font being used in the banner and the font sizes. Check both the header and description text. Looking closely, it seems some pages are different than others.

* Resources
* Contribute
* News
* About pages

[2017-09-22 12:29] brianking commented on #146
Rainer,

I've setup the project at:
https://github.com/OSLC/lifecycle-integration-patterns

I added you as admin, so you can do pretty much anything including adding new users (Settings -> Collaborators&Teams).

For the landing page, you can probably just use the README. Alternatively you could create a wiki page, and just point to it from the README.

Let me know if you have any questions.

[2017-09-22 14:31] brianking opened #151 "Setup Working Groups Site Section"
Similar to the current http://open-services.net/workgroups/, we need a space on the new site for working group landing pages. For full details of how WGs will work, see issue #146.

The tasks for this issue are:

- [x] Setup index page at /workgroups/, with templates and infrastructure to easily add new workgroups as markdown files
- [x] Markdown template for new groups
- [ ] Document how to add a

[2017-09-22 14:34] jailandrade commented on #147
I added two images, `img/jan-kahanek-184676.jpg` y `img/sergey-zolkin-403.jpg`. In this commit I put the first one as a banner.

[2017-09-22 14:36] brianking commented on #147
Great. A couple of questions:

1. Where did you get the images, and do we have a license to use them?
2. Can they be renamed? Something like news-default.png

[2017-09-22 14:42] jailandrade commented on #147
From here https://unsplash.com/photos/E0Spm6XXn2Y and here https://unsplash.com/photos/g3O5ZtRk2E4, yes, we can rename it, and yes they have a free license https://unsplash.com/license

[2017-09-22 17:14] LeoTrujillo commented on #149
The share button in oslc new is working
<img width="1434" alt="c" src="https://user-images.githubusercontent.com/3343042/30756235-76523026-9f8f-11e7-8f16-f7a7e8d157a2.png">

[2017-09-22 19:26] brianking commented on #149
It's not working for me, I get this error:

<img width="782" alt="issue149_fb_sharing_error" src="https://user-images.githubusercontent.com/114116/30760940-ab3db358-9fdc-11e7-8f6b-b4f2934b23f6.png">

[2017-09-22 19:28] LeoTrujillo commented on #149
Ok, let me check

[2017-09-22 19:36] LeoTrujillo commented on #149
Waiting a few minutes and test it again, I had to make public the koneksys app from facebook for to this works

[2017-09-22 19:47] brianking commented on #149
Works now. It's showing an old image, but that might be a Facebook cache image though.

[2017-09-25 05:20] wesleycoelho commented on #146
Hi @brianking, I like your suggestion of using the GitHub wiki for the WG documentation. I just tried it out and it looks like a good solution for documenting the patterns. We could link there from the README as you suggested.

CC: @rersch

[2017-09-25 19:59] hectorsanchezmx commented on #68
Instructions to deploy site to oslc.co are on the document.

[2017-09-26 02:52] jailandrade commented on #151
I added support for working groups

[2017-09-26 12:32] brianking commented on #146
Landing page is up on the test site:

https://oslc.github.io/workgroups/lifecycle-integration-patterns/

Feel free to make a pull request to update the content, or send to me and I can update.

https://github.com/OSLC/oslc-site-hugo/blob/master/content/workgroups/lifecycle-integration-patterns.md

[2017-09-26 13:53] rersch commented on #146
I made a small change to the page and committed the change.
What's now needed to publish this change. Should I be able to do this?

[2017-09-26 17:17] brianking opened #155 "Dynamic baseURL or default to oslc.so"
Currently the value is:

baseURL = "https://oslc.github.io/"

This causes problems when we deploy to oslc.co. So we have 2 options:

1. Stop deploying to GH and deploy to oslc.co exclusively
2. Change value at deploy time to oslc.co

Is there any value in deploying it to two places?

[2017-09-26 17:26] jailandrade commented on #155
I think it's better to deploy to oslc.co exclusively to avoid duplication of issues and fixes

[2017-09-27 11:28] brianking commented on #146
I went ahead and pushed your change, it is live. Only I and the developers can push changes to the live site right now. FYI over the coming days we will likely be transitioning away from oslc.github.io as the live site, and instead using oslc.co. We try to deploy at least once a (work week) day.

I think we should make a template for a WG landing page. What information needs to be on there? To sta

[2017-09-27 11:33] brianking commented on #149
@LeoTrujillo Not sure if you closed this by accident, but this issue is not just about Facebook sharing. See original issue description. Reopening.

[2017-09-27 15:13] jailandrade commented on #147
I rename the image to `news-default.png`

[2017-09-27 15:15] jailandrade commented on #150
I reduced the font size for the description in the banner for all the pages.

[2017-09-27 15:21] jailandrade commented on #14
@brianking have you checked this?

[2017-09-27 15:22] jailandrade commented on #127
I think this task it's done, @brianking can you confirm?

[2017-09-27 15:25] jailandrade commented on #126
I'll close this to continue working on #133

[2017-09-27 15:26] jailandrade commented on #1
I think this task it's done

[2017-09-27 15:28] jailandrade commented on #99
This task it's also finished

[2017-09-27 15:32] jailandrade opened #156 "Download and optimize images for the banners"
Right now we're using high resolution images hosted in unsplash, the problem with this is the loading time. We need to download those images from unsplash, resize and save for the web.

[2017-09-27 23:03] hectorsanchezmx commented on #155
I agree with @jailandrade, the only benefit I see from deploying to oslc.github.io is using it as a test environment, but it's a static site, there really isn't much to test

[2017-09-28 09:39] rersch commented on #146
I assume you also plan a short description of the workgroup on the landing page (template) – right?

On the “old” (open-services.net) Workgroups we also had a link to the meeting schedules.
The schedule page itself was on the wiki. Maybe we should have a template for this as well.

How about a link to (open) issues of the workgroup? Or how to submit issues for the WG?

Where will the landing page

[2017-09-28 10:46] brianking commented on #147
@jailandrade The picture is a bit big at 1.5MB. We need something smaller that loads faster. A couple hundred KB at most I would say. I would also try and reduce the height of the image.

[2017-09-28 10:59] brianking commented on #14
Yes we can close this out. For any homepage theme tweaks, we can open new issues.

[2017-09-28 10:59] #14 closed

[2017-09-28 11:05] brianking commented on #127
So I think there are still 2 fixes needed here:

1. Add an 'All' option to the dropdown, that when selected basically clears the filter.

2. Bug: Select an option - filtering works. Reload the page. The item remains selected in the dropdown, but all resources show. When the page reloads, we should either respect what is in the dropdown, or reset the dropdown and show all.

[2017-09-28 11:07] brianking commented on #126
Agreed, closing.

[2017-09-28 11:07] #126 closed

[2017-09-28 11:08] brianking commented on #1
Yes, closing. For any bugs or changes of this feature, open a new issue.

[2017-09-28 11:08] #1 closed

[2017-09-28 11:11] brianking commented on #99
Closing. There is a bug with the dropdown style, I will open a new issue for that.

[2017-09-28 11:11] #99 closed

[2017-09-28 11:14] brianking opened #157 "New Categories Dropdown Issues"
There are 2 issue (at least I see in Firefox):

1. Clicking on the arrow does nothing. The menu only open when you click on the text.
2. The items are cramped together, too little space. It seems like styles are missing. Look to Resources filter dropdown as a better example. Try to standardise look and feel of all dropdown on the site.

[2017-09-28 11:16] brianking commented on #156
Images should be in KB (a few hundred or less), not MB.

[2017-09-28 15:32] brianking opened #158 "Updated Homepage Content"
Update the homepage with content from this document. It should replace everything there already, except the news section which should stay.

https://docs.google.com/presentation/d/1vDfrR4e5tstnYvmcV13_PGs__VQKHyz9UtFSzBbJaA0/edit?usp=sharing

[2017-09-28 15:33] brianking commented on #11
Opened issue #158 to update the homepage content, and that takes precedence over this. So closing this now.

[2017-09-28 15:33] #11 closed

[2017-09-28 15:35] jailandrade commented on #147
@brianking I've successfully reduced the image size from 1.5mb to 315kb, I'll upload the changes

[2017-09-28 15:57] brianking opened #159 "Implementations Page"
We really need to show what real-world software is out there using OSLC. We currently have the [software page](https://open-services.net/software/), but as-is it has little utility and gets out of date easily.

New page should:
* have 2 columns, one for native support and one for adapters
* Have meaningful information about the implementation behind the links
* Have clear instructions about how to

[2017-09-28 17:39] LeoTrujillo commented on #149
The changes are already in master branch and them are working

[2017-09-28 20:23] brianking commented on #158
I've checked in first pass at this. Some notes:

* All content is not in yet, I got as far as Slide 6
* I just used styles that were in existing partials on the stage. We might want to consider renaming the classes or creating new ones ... as needed
* Image and text are not centering up correctly in all sections, e.g. 'The OSLC Core Specification' section
* Most, if not all, images will have to be

[2017-09-29 00:26] jailandrade commented on #157
I fixed the arrow but I think I can't style the options in the select, I've found this comment about edit _options styling to select option is very much limited as to maintain a coherence and consistency among all the application in the operating system thus the browser are ought to restrict the style of some basic elements like in your case option tag.

The restriction depends browser to browser,

[2017-09-29 11:34] brianking commented on #157
It looks better now, even the spacing. I'm guessing on the Resources page, it looks different only because of the colour now. Can you confirm that there is no extra styling applied to that one?

[2017-09-29 13:11] brianking commented on #133
@jailandrade Can you post a status here please.

I just deployed to both live sites, and notice it is not working on either. It works on localhost.

Also, I ran 'node site.js' but it does not seem to have picked up changed I made (new partials + strings in content/_index.md).

[2017-10-02 13:57] gabrielfdac commented on #158
1 - Glad to see that the existing styles were somewhat easy to reuse.
2 - The images are centering correctly, I checked the source code and did some tests. In you example I believe it is a visual illusion caused by the non-symmetric image in that section.
3 - For the images that have to be done, please do make a new issue from them.
4 - We can discuss more about the flow if necessary. Overall look

[2017-10-02 14:04] brianking commented on #158
2. I did some more work Friday to center the images. I had to tinker a little with CSS. See the second commit linked just above your comment.
3. Will do
4. I also made changes there, just going between white and the shaded backgrounds. I removed the dark blue background that was there previously for resoures.

[2017-10-02 14:05] gabrielfdac commented on #158
2 and 4. I guess I came late to the party. Either way we can readjust as we go.

[2017-10-02 14:44] brianking opened #161 "Redo Homepage Images"
Very recently, in issue #158, the homepage content was refreshed. As part of that, some new images were added. This issue is to review the images, and replace them with more more appropriate and/or better designed one.

More details to follow.

[2017-10-02 15:12] brianking opened #162 "Redo Homepage CSS"
As part of issue #158 and especially with commit 84ea78a there are some hacks to style the sections on the homepage. We mostly use an existing class (.sec-case) and sub-classes in home.scss. (.sec-case2) was created just to give the alternating bg colour. There are two tasks in this issue:

- [x] Create a new class or classes to handle the sections on the homepage, with pretty descriptive names so

[2017-10-02 15:36] jailandrade commented on #157
I applied margin to other options, I think only works on Firefox.

[2017-10-04 19:35] brianking commented on #16
@jamsden

The skeleton file for you to fill out is now checked in at:
https://github.com/OSLC/oslc-site-hugo/blob/master/content/specifications/vocabularies/_index.md

When live, it maps to:
https://oslc.github.io/specifications/vocabularies/

Let me know if that is an acceptable url.

[2017-10-04 19:37] brianking commented on #27
@jamsden

The skeleton file for you to fill out is now checked in at:
https://github.com/OSLC/oslc-site-hugo/blob/master/content/specifications/_index.md

When live, it maps to:
https://oslc.github.io/specifications/

[2017-10-05 19:56] gabrielfdac commented on #162
New styles consists of
[code]
With that the end markup ends up looking somewhat like this:
[code]

[2017-10-06 08:57] brianking commented on #162
I checked out the branch, and it looks good to me. Feel free to go ahead and merge. I like how the text is now left aligned, but everything else is centered.

[2017-10-06 09:03] brianking commented on #27
Initial table of OSLC specifications, status and links.
jamsden committed 13 hours ago
eb8d5b5

Changes are now on live test site:
https://oslc.github.io/specifications/

[2017-10-06 12:50] brianking commented on #150
@jailandrade were my latest comments addressed already?

[2017-10-06 15:43] jailandrade commented on #150
yes, I already submit my changes to this issue

[2017-10-07 18:15] berezovskyi commented on #27
What is the reason for now publishing the 2.0 specs in HTML format by crawling the wiki as I suggested in https://github.com/OSLC/oslc-community/issues/3 ?

Publishing specs for open RESTful services in PDF seems ludicrous to me.

[2017-10-07 18:19] berezovskyi opened #163 "Publish full posts over RSS"
Currently the feed only displays teaser summaries:

<img width="1193" alt="screen shot 2017-10-07 at 20 18 28" src="https://user-images.githubusercontent.com/64734/31310682-d681b4da-ab9c-11e7-81d2-4975e37135c3.png">

[2017-10-07 18:26] jamsden commented on #27
Partly to ensure they can’t be (easily) edited - all edits should be done in the OASIS migrated specs. And partly for quick convenience. Other options can be entertained.

[2017-10-07 18:52] berezovskyi commented on #6
I went over the content you linked to and provided comments. If you agree in general, I can put some text together:

https://docs.google.com/document/d/1-lHSS6BNfQfZfmm1_QBriXpid_9TFlTs-B7mpI9niiA/edit?usp=sharing

Just request access and I will approve it ASAP.

cc @jamsden @jadelkhoury

[2017-10-07 18:56] berezovskyi commented on #114
@brianking what is an iterative page?

[2017-10-07 19:09] berezovskyi commented on #24
I belive this one is done and the rest follows in #68

[2017-10-07 19:09] #24 closed

[2017-10-07 19:09] berezovskyi commented on #68
https://oslc.co is still failing to load.

[2017-10-07 19:50] berezovskyi commented on #148
I added a banner for a resource but the `themes/oslc/layouts/resources/single.html` still loads a random image.

[2017-10-10 15:13] brianking commented on #157
Good enough for now!

[2017-10-10 15:13] #157 closed

[2017-10-10 15:17] brianking commented on #150
Done, closing.

[2017-10-10 15:17] #150 closed

[2017-10-10 15:20] brianking commented on #114
@berezovskyi A page built from different parts, i.e. separate files.

[2017-10-10 15:22] brianking commented on #68
@hectorsanchezmx will investigate.

[2017-10-10 15:27] brianking commented on #148
How did you add it @berezovskyi ?

The image is not random. It is defined in each news item markdown file.

`banner = "img/news-default.jpg"`

This can be customized there, per post. I'm thinking of not showing it on the single page, because most posts don't have an image and it is just taking up too much space. We can still show in in the preview on the homepage and the news index page.

[2017-10-10 15:48] brianking commented on #148
My last comment referred to /news posts @berezovskyi. I now see you were talking about resources. I think you change in #165 now fixes resources/ posts as well. Let me know.

[2017-10-10 15:55] brianking commented on #149
Confirmed working, now deployed to oslc.github.io.

[2017-10-10 15:55] #149 closed

[2017-10-10 15:57] brianking commented on #156
@jailandrade is this done?

[2017-10-10 16:01] jailandrade commented on #114
The subpage about/mission is a single post in Hugo, when you navigate to that link you are getting the contenf from `content/about/mission.md` file. You can access to all the posts in that folder if you appoint to `oslc.co/about/filename`.

For the FAQ, Brands, People and Organizations subpages I made a hack, which is iterate over all the posts in the `content/about` folder but only shows the ones

[2017-10-10 16:05] brianking opened #166 "Social Sharing Widget Changes"
A few things here:

- [x] Fix urls to use baseURL global instead of hardcoded url
- [x] Replace 'Look this awesome post' when sharing to LinkedIn. Replace with a customizable summary, retrieved from metadata of post
- [x] Add Title of post when sharing to Twitter, before the url
- [x] For Twitter, after the url add 'by @Koneksys' which might lead to more clickthroughs and follows.
- [ ] Update old

[2017-10-10 16:06] brianking opened #167 "Update Resources Sharing Options"
Similar to what we did with News posts in issue #149 we need to update the sharing options on Resources pages.

[2017-10-10 16:07] jailandrade commented on #156
Yes, this is already done, if we continue using unsplash images we have to resize to 2000px width

[2017-10-10 16:13] brianking commented on #156
Ok, closing. We are still using unsplash in other places, so I will open a new issue for that.

[2017-10-10 16:13] #156 closed

[2017-10-10 16:16] brianking opened #168 "Purge Unsplash Usage"
Replace unsplash images with images downloaded locally. The images used should be "Web ready", i.e. not too large to slow down page loading but retaining some quality.

[code]

[2017-10-11 08:45] brianking commented on #2
I just checked in the namespace RDF files to ns/.

* See commit 7247cd0
* Files: https://github.com/OSLC/oslc-site-hugo/tree/master/content/ns

It's live at test site http://oslc.co to have a look.

I'll need help with the rewrite rules:
https://github.com/OSLC/oslc-site-hugo/blob/master/content/ns/.htaccess

What else needs to be done here @jamsden @berezovskyi ?

[2017-10-11 09:00] brianking opened #169 "Content Handlers and Redirects"
For oslc.co for now....

We need a couple of things setup on the server:

1. The server needs to send the right content type for certain types of content for the browser to display it.
e.g. application/rdf+xml for RDF files.
e.g. file: http://oslc.co/ns/cm/cm.rdf

2. Redirects need to work.
Right now I copied the site .htaccess from ns/ to a new ns/ folder on the new site. You can see it at:
https

[2017-10-11 09:07] brianking commented on #169
.htaccess is not working because it is not there! It is not being added during the deployment to oslc.co. This would need to be fixed first.

[2017-10-11 18:46] berezovskyi commented on #27
I was under the same impression as @brianking: PDF gets preserved in OASIS, HTML is crawled for the website archive section.

[2017-10-13 12:52] brianking commented on #151
Anything left with WGs, please open a new issue. Closing this now as the basic infrastructure is setup.

[2017-10-13 12:52] #151 closed

[2017-10-13 15:44] brianking commented on #6
@berezovskyi In general I think your comments make sense. @axelreichwein should have a look as well.
Would you be comfortable just making a first pass at creating this page on the site? I can created the basic page for you to fill out.

[2017-10-13 15:49] brianking commented on #17
No general landing page for About anymore, closing.

[2017-10-13 15:49] #17 closed

[2017-10-13 15:50] brianking commented on #18
@berezovskyi What do you think we should do here? See first comment here, and #111.

[2017-10-13 19:06] gabrielfdac commented on #162
Change completed and merged

[2017-10-13 19:06] #162 closed

[2017-10-13 19:09] gabrielfdac opened #171 "Fix and improve the mobile experience"
After investigation there are several issues that needs fixing or improvements for mobile.

Those include image sizes, layout, font sizes and other issues. This will mostly include CSS changes but does not exclude markup changes if necessary.

[2017-10-13 19:37] brianking commented on #6
I added the page if you want to run with it:
https://github.com/OSLC/oslc-site-hugo/blob/master/content/about/why.md

Live test under About at:
http://oslc.co/about/why/

[2017-10-17 19:31] brianking commented on #158
Separate issues opened for what is remaining, so closing this.

[2017-10-17 19:31] #158 closed

[2017-10-17 19:35] brianking commented on #148
It turns out none of the old posts have images in them, so this is WONTFIX. Closing.

[2017-10-17 19:35] #148 closed

[2017-10-17 19:35] #147 closed

[2017-10-17 19:37] brianking commented on #98
Has been done a while, closing.

[2017-10-17 19:37] #98 closed

[2017-10-17 19:46] brianking commented on #48
I think this has all been covered. Closing.

[2017-10-17 19:46] #48 closed

[2017-10-17 19:56] brianking commented on #47
Done a while ago. Closing.

[2017-10-17 19:56] #47 closed

[2017-10-17 20:23] gabrielfdac commented on #161
https://xd.adobe.com/view/6b6de46d-b52f-4a67-820c-5f84b1e5f925/

Here's the current design for the first 3 images.

Images 1 and 3 have two options.

On image 1 I believe the second option has a more clean and understandable layout. However we need to be sure the change doesn't break any "hierarchies".

[2017-10-18 19:44] brianking commented on #111
This blurb is up, so closing this issue. We will decide how to fill out the content more of this page in issue #18.

Current test page:
https://oslc.github.io/about/mission/

[2017-10-18 19:44] #111 closed

[2017-10-18 19:51] jamsden commented on #111
Re: vision/mission - vision describes some desired result, mission describes the effort used to achieve that desired result.

http://open-services.net/wiki/steering-committee/Vision/ is a broader Future Vision statement from the OASIS OSLC Member Section Steering Committee.

[2017-10-18 19:53] jamsden commented on #18
Vision is what you are trying to achieve, mission is how you plan to achieve it - what vs. how. These can be simple, broad summary statements about the open-services.net community.

http://open-services.net/wiki/steering-committee/Vision/ is a longer term future vision of the OASIS OSLC Member Section Steering Committee. This expresses the StC vision as a contribution to the vision for the open-se

[2017-10-19 09:10] brianking commented on #161
@axelreichwein Can you check images 1 and 3 to see if they are representative.

[2017-10-19 21:21] gabrielfdac commented on #171
*Some Changes pushed*
Mobile specific:
• `Homepage` images no longer expand out of bounds;
• `Homepage` news section has been fixed, previously elements where too thin;
• `Notification-bar` font-size reduced to occupy less space;
• `Header` has seen many improvements:
   1 - Position has been fixed so that it doesn't cover the notification bar;
   2 - On mobile the Search functionality is now insi

[2017-10-20 15:14] axelreichwein commented on #161
I like image #3 with the colors. I have no preference between image #1 and #2, however, the boxes and the lines needs to stand out more.

[2017-10-23 15:10] brianking commented on #68
We already have Letsencrypt ready to go (after the switch to open-services.net), and we can file a new issue for configuring Nginx for changes for the site to go live to open-services.net. So closing this one.

[2017-10-23 15:10] #68 closed

[2017-10-23 15:22] jailandrade commented on #15
Can you configure discourse.oslc.co to serve over https @brianking ? Maybe @hectorsanchezmx can help you

[2017-10-23 15:24] brianking commented on #15
We'll configure it as soon as it goes live to discourse.open-services.net. Is it a prerequisite for it to work? Will anything be broken by your last commit, until we go live?

[2017-10-23 15:26] brianking commented on #69
This was done with recent home page imporovements by @gabrielfdac so thanks! Closing.

![firefox_screenshot_2017-10-23t15-25-41 887z](https://user-images.githubusercontent.com/114116/31897646-505afdd0-b817-11e7-85f5-57c89b26698a.png)

[2017-10-23 15:26] #69 closed

[2017-10-23 15:28] brianking commented on #127
@jailandrade any update on the issue 2 above about filtering on page reloading? Did you say it is only a problem in Firefox? Is there a potential fix?

[2017-10-23 15:31] jailandrade commented on #15
The previous commit was to solve some issues I see with the scripts in oslc.github.io

The last commit is to test again the integration of discourse with hugo, can you deploy again? We don't need https for now

[2017-10-23 15:36] jailandrade commented on #133
I made a hack for this, you need to replace the content of `static-src/node_modules/lunr-hugo/lib/index.js` with the content of `static-src/index.js` and run again `node site.js`

[2017-10-23 15:47] jailandrade commented on #133
It can be automated with each deployment, but now I see the last error you report it.

I think this commit can solve it https://github.com/OSLC/oslc-site-hugo/commit/3498a5778d5bb3ae24ddef80b4f7e213f9ec9542

[2017-10-23 16:02] jailandrade commented on #127
I can set up the default value to all, it works in Firefox

[2017-10-23 16:11] jailandrade commented on #127
I already did https://github.com/OSLC/oslc-site-hugo/commit/feddf944867bf1237bb3962c7899d323e603c3de

[2017-10-23 16:31] jailandrade commented on #167
I just integrate the share options here, I don't know if you have the correct app id for the facebook plugin @brianking

[2017-10-23 16:58] brianking commented on #167
Fixed now, the resources page now uses the new post-share.html partial. If we need a new facebook app id, we should open a new issue for it.

[2017-10-23 16:58] #167 closed

[2017-10-23 18:06] brianking commented on #166
After changing the baseURL in config.toml, the links being sent from the social share widget do not resolve correctly. I switched to using Permalink, same issue. It is the only place where I can see it not working right now

[2017-10-23 18:08] brianking commented on #166
@jailandrade can you have a quick look at why permalink is not working here please.

[2017-10-23 22:30] jailandrade commented on #15
I think I forgot to change the classname to the div container to embed the discourse frame, last commit solved

[2017-10-23 22:37] jailandrade commented on #133
The search is working now, the step when we replace content of `static-src/node_modules/lunr-hugo/lib/index.js` with the content of `static-src/index.js` only need to be done once after a clear installation. The run `node site.js` step is mean to be done with each change to the content

[2017-10-23 22:41] jailandrade commented on #166
It's weird, I test in oslc.co and it works for me, in different browsers

[2017-10-24 00:26] jamsden commented on #16
The pages are updated with initial content. The following vocabulary documents need to be migrated to OASIS to provide stable links for reference from open-services.net. None of these are migrated yet to OASIS, but we could migrate the vocabulary documents.

- rm.rdf
- qm.rdf
- am.rdf
- asset.rdf
- auto.rdf
- perfmon.rdf

I coped all of these files from open-services.net/ns to GitHub oslc-domains/

[2017-10-24 00:29] jamsden commented on #2
The old vocabulary RDF pages have been preserved in https://github.com/oasis-tcs/oslc-domains/tree/master/open-services-vocabs. We need these in OASIS as the reference documents that are being migrated - same as the specs. You could redirect there, but its probably better to redirect to your copy as this will be faster and will provide a buffer from what is published in OASIS and what is published

[2017-10-24 09:22] brianking commented on #166
Indeed weird. Can you send me a screencast of it working @jailandrade ?

[2017-10-24 14:54] jailandrade commented on #166
![image](https://user-images.githubusercontent.com/512046/31950455-3fe7bc10-b8a1-11e7-9129-6628fdf8bb4d.png)

![image](https://user-images.githubusercontent.com/512046/31950473-4a84c3ac-b8a1-11e7-9550-e67bac2e9dc8.png)

![image](https://user-images.githubusercontent.com/512046/31950500-59c9b7dc-b8a1-11e7-95ea-acafaa0f8297.png)

[2017-10-24 18:01] brianking commented on #133
@jailandrade can you please add that information to the setup and deployment doc:

https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup

Then this can be closed after.

Great work!

[2017-10-24 18:02] brianking commented on #127
Works for me too now in Firefox. Closing!

[2017-10-24 18:02] #127 closed

[2017-10-24 18:03] brianking commented on #101
@axelreichwein @rersch @jamsden @berezovskyi Any input on this one? We need something much more lightweight without IBM references.

[2017-10-24 18:04] brianking commented on #100
@axelreichwein @rersch @jamsden @berezovskyi Any input on this one? We need something much more lightweight without IBM references.

Can be merged possibly with Privacy Policy page #101 ??

[2017-10-24 18:06] brianking commented on #168
@gabrielfdac We talked about this in the context of the Contribute page, but something in general you might want to look into. Assigning to you for now. @jailandrade already replaced some images by just downloading them from unsplash, making them smaller, and integrating them into our repository.

[2017-10-24 18:31] brianking commented on #35
So I think the 4 sections in the image still make sense, but the sub-content needs to be changed a bit.

**OSLC Member Section at OASIS**
Those sub-sections make sense to me, so maybe it can stay the same. @jamsden ?

**open-services.net**
The main thing to highlight here is that it is a community site.
Some reasons why the site is important for the community and for OASIS.
* It aims to help incre

[2017-10-24 20:08] brianking commented on #15
Great this is working now, I see the comment show up at:
http://oslc.co/news/alm-plm-interoperability-survey/

A couple of things outstanding @jailandrade :

1. Under the post title it says "No comments". Is there an easy way to get the number of comments from the post and show it here? If not, we should probably remove number of comments from the template (also the list template on News index pag

[2017-10-24 20:13] brianking commented on #159
Inspiration:
http://fmi-standard.org/tools/

[2017-10-24 21:31] brianking commented on #27
@jamsden Are we good to go with this one?
http://oslc.co/specifications/

I'll open a separate issue to style the page to make it look prettier.

[2017-10-24 21:32] brianking commented on #114
Closing. Above comment will be adapted for documentation on adding content to the site.

[2017-10-24 21:32] #114 closed

[2017-10-24 21:38] brianking commented on #155
This has been changed to just "/", but it broke social sharing links which is being investigated in issue #166.

Keep an eye out for possible other breakage.

[2017-10-24 21:43] brianking commented on #16
@jamsden I already mirrored some RDF files in the ns/ (content/ns/) folder in the new repository. Are these different to what you are talking about?

[2017-10-24 21:46] brianking opened #172 "Style Specification Pages"
Add style for the following pages:

http://oslc.co/specifications/
http://oslc.co/specifications/vocabularies/

In particular:

* Consider adding a banner for consistency with other pages (not compulsory)
* Minimal table styling
* Check rest of the text is consistent with site

[2017-10-25 11:27] brianking commented on #2
@jamsden Have the files you put at https://github.com/oasis-tcs/oslc-domains/tree/master/open-services-vocabs been updated recently, or are they the same as what is on open-services.net?

[2017-10-27 08:10] rersch commented on #101
Do we need specific privacy policies at all? We could refer to the OASIS [https://www.oasis-open.org/policies-guidelines]. The majority of the listed policies do not apply, but if there are any critical issues they should be covered.

We could create a policy page on open-services.net saying: open-services.net is the community platform of the OASIS OSLC member section and that OASIS policies (with

[2017-10-27 13:46] jamsden commented on #101
The Privacy Policy needs to reflect the policies of the legal entity associated with open-services.net. That is the entity that might be subject to litigation from privacy issues. Who is that legal entity? OASIS? If so, then a link to OASIS policy guidelines associated with privacy policy should be sufficient. But I would guess OASIS may have some concerns about becoming involved in some legal ent

[2017-10-27 14:11] jamsden commented on #2
Its a mixture since the specs are all in transition. The specs are in three states:
OASIS Committee Specification - OSLC Core 3.0 - I used its vocabulary and HTML files as published on the OASIS doc library
OASIS Committee Specification Drafts or Working Drafts - I used these for all the vocabulary and shape HTML files because we don’t have any other way of generating them
Old open-services.net/ns

[2017-10-27 14:14] jamsden commented on #16
I need them mirrored on OASIS since the are the documents which are being migrated to the OASIS vocabularies. I simply copied the files from open-services.net/ns <http://open-services.net/ns> to the Domains TC GitHub repo. This is a more permanent place to put these documents.

We may want to still use the ones you cloned for better performance instead of redirecting to GitHub. I’m not sure that w

[2017-10-27 14:18] jamsden commented on #27
I’d be happy to place HTML files on OASIS, perhaps in the Domains GitHub repo instead of the TC’s document library if we had them. I’m not wedded to the PDFs.

[2017-11-01 15:54] gabrielfdac commented on #35
Hi all. Again I'm the one redesigning this image.

And right now I have some concerns:

1 - Content clutter. As of right now there's a bunch of content in the image already, even being just words. And from the discussion it seems that we want to explain things in a bit more detail. Which means more content. My concern is not only putting all this content in one image (in terms of how it will ultim

[2017-11-05 16:32] brianking commented on #101
@jamsden Who are "our lawyers"?

[2017-11-05 16:34] brianking commented on #16
I guess another way of asking is, are the files at http://open-services.net/ns being used in a way that we have to preserve them there?

[2017-11-05 16:37] brianking commented on #35
I like the idea of Ecosystem being a sub-section of the About section.

[2017-11-05 16:42] brianking commented on #172
I just looked at your branch for this @gabrielfdac and it looks good, please merge into master.

[2017-11-06 13:03] brianking commented on #171
Is this done @gabrielfdac ?

[2017-11-06 13:04] brianking commented on #169
Any update on this @hectorsanchezmx ?

[2017-11-06 13:07] gabrielfdac commented on #171
Yes I think we can close it. Any other problems or fixes that pop up could just go to new and more specific issues.

[2017-11-06 13:08] brianking commented on #166
I'm going to close this and open new issues for what is remaining.

[2017-11-06 13:08] #166 closed

[2017-11-06 13:22] brianking opened #173 "New Facebook App ID"
For sharing to Facebook (on News, Resources, Working Group pages), we are using a Facebook App ID. Currently it is being shared with another web site, so before we go live we should set up a unique one for the OSLC site.

[2017-11-06 13:29] brianking opened #174 "Fix Broken Links When Sharing"
When sharing certain resources (News pages, Resources, Working Group pages) on social media, the link being sent to the service is relative instead of being the whole url. This happened when we changed the base URL.

![sharinglinks](https://user-images.githubusercontent.com/114116/32443302-ccca05cc-c2fe-11e7-8b36-439b9adb4d4b.png)

[2017-11-06 13:32] brianking commented on #161
What's the status of this @gabrielfdac ? To me it looks like:

* Hypermedia API image needs to be done
* Ecosystem image is in the works in issue #35
* Solutions image needs to be done / optimised for this page

[2017-11-06 14:28] gabrielfdac commented on #161
1 - Since that image was a newer image I had the impression it was not going to be redone. What is the idea for that one?

2 - Yes, I think a decision has to be made so that this unblocks. (As discussed in #35)

3 - Same as 1.

[2017-11-06 14:45] brianking commented on #77
Creating a news post:
https://github.com/OSLC/oslc-site-hugo/wiki/Creating-A-News-Post

[2017-11-06 14:56] brianking commented on #161
1. It is actually a cropped version of this image:
https://koneksys.com/img/Custom_vs_Discoverable.png
So at the very least, the image degraded in quality when I made it and would need to be redone. It is also too small compared to the other new images.

2. Will follow-up in that issue.

3. What information do you need to unblock? I think the image itself is fine here. However, it is sized bigger

[2017-11-06 15:08] gabrielfdac commented on #161
1 - If we need any alterations is fine. I can also recreate a image with higher resolution. What would be best?

3 - So just an overall reduction in size or a higher resolution version, right?

[2017-11-06 15:10] brianking commented on #161
1. Yes higher res, but still small enough for quick loading

3. Right.

[2017-11-06 15:11] brianking opened #175 "Change Subtitle"
From @axelreichwein :

I would like the subtitle to be something like "Creating standard REST APIs to connect data" instead of "An open community building practical specifications for integrating data".

[2017-11-06 15:14] brianking opened #176 "New Linked Data Homepage Section"
From @axelreichwein :

I also think that we need one section on the landing page explainign the benefits of Linked Data or RDF to connect data, as well as the benefits of a standard REST API.
As headline for the section on Linked Data/RDF, I propose following title: "Breaking down data silos".

[2017-11-06 15:20] brianking commented on #175
Done.

[2017-11-06 15:20] #175 closed

[2017-11-06 16:02] jailandrade commented on #133
@hectorsanchezmx can you add the steps to the deployment script?

[2017-11-06 16:22] brianking commented on #19
Seeded some questions:
http://oslc.co/about/faq/

Instructions for adding a new entry:
https://github.com/OSLC/oslc-site-hugo/wiki/Adding-a-FAQ-Entry

Closing this issue now.

[2017-11-06 16:22] #19 closed

[2017-11-06 16:24] brianking commented on #77
Creating a FAQ entry:
https://github.com/OSLC/oslc-site-hugo/wiki/Adding-a-FAQ-Entry

[2017-11-06 16:50] brianking opened #177 "OSLC Examples"
Placeholder for interactive examples on the site. Replace this content with a description.

[2017-11-06 16:55] brianking opened #178 "Changes on Contribute Page"
- [x] New image in 'Join the Conversation' box.
- [x] Replace unsplash images
- [x] Possibly replace links with buttons

[2017-11-06 18:11] berezovskyi commented on #35
I think it'd be great to provide a visualisation of the moving parts in the OSLC community.

What I think we wanted to say is the following:

1. OSLC specifications are produced by the OSLC TCs under OASIS
2. Whole process is guided by the Steering Committee
3. Specs are based on the W3C specs, esp. on W3C LDP spec
4. Public is welcome to comment on the OSLC spec drafts
5. some of the approved as

[2017-11-06 20:53] #6 closed

[2017-11-06 21:43] brianking opened #180 "404 Not Working on Digital Ocean"
Compare:

1. https://oslc.github.io/jinkies
2. http://oslc.co/jinkies/

Our customised 404 page is working on the first, but not on the second. Is this something that has to be configured on nginx?

[2017-11-07 11:34] berezovskyi commented on #27
1. Where is Core 2.0?
1. All 2.0 specs are still in PDF
1. https://tools.oasis-open.org/version-control/browse/wsvn/oslc-promcode/WorkingDrafts/promcode-interface-v1.0-wd01_Chapter3.docx should be converted to PDF.

I will upload the patch to see how I resolved §1 shortly. I actually found the TWiki source and discovered that Pandoc knows how to convert TWiki to Markdown.

[2017-11-07 11:49] berezovskyi commented on #16
Yes, I believe people might open the namespace URIs in an attempt to find a vocabulary definition and tools might try to load an RDFS schema (which they will fail, as it's not an RDFS schema _per se_).

I think that our and Jim's objectives are not orthogonal: Jim needs to archive the files for standardisation purposes, so that 3.0 specs can reliably refer to 2.0 artefacts, while we need those fil

[2017-11-07 11:58] berezovskyi commented on #2
I don't think my message came across from the SEO standpoint. Here is the SERP (SEO buzzword for _search engine result page_) for "oslc core":

<img width="661" alt="image" src="https://user-images.githubusercontent.com/64734/32492384-604acaaa-c3ba-11e7-82d7-46373f64f2ac.png">

The new site should redirect all requests via `.htaccess` from this URI

http://open-services.net/bin/view/Main/OslcCoreS

[2017-11-07 12:00] brianking commented on #171
Closing.

[2017-11-07 12:00] #171 closed

[2017-11-07 12:03] brianking commented on #35
In general yes I agree with you @berezovskyi. I see 3 main parts:

* Specifications
* Software
* Community (everything else)

[2017-11-07 12:07] #27 closed

[2017-11-07 12:13] brianking commented on #27
Live at:
http://oslc.co/specifications/archive/core-2.0/

[2017-11-07 12:18] brianking commented on #2
There is an open issue for setting up redirects at #169

[2017-11-07 12:46] brianking commented on #174
Some relevant discussion here:
https://discourse.gohugo.io/t/solved-what-should-be-used-for-the-value-of-site-baseurl/5896

As far as I can see, leaving baseURL blank or setting it to "/" will just break some things and there is no way around it.

[2017-11-07 13:18] gabrielfdac commented on #161
Images for "Hypermedia API" and "Solutions" have been updated and are currently on master

[2017-11-07 15:23] gabrielfdac commented on #178
Ready for review on branch "OSLC-178"

[2017-11-07 15:23] gabrielfdac commented on #172
Closed by merge

[2017-11-07 15:23] #172 closed

[2017-11-07 15:40] gabrielfdac commented on #168
This needs no further changes other than in the contribute page. Will be done once #178 get's reviewed and deployed.

[2017-11-07 19:03] brianking commented on #159
@berezovskyi @rersch @jamsden @axelreichwein

Any feedback on this one?

[2017-11-07 19:05] brianking commented on #115
@berezovskyi we abandoned the carousel on the homepage, but is this something we could add to, for example, the Why page?

cc @axelreichwein

[2017-11-07 19:07] brianking commented on #112
This has been done a while, closing. We can track changes needed in other issues.

[2017-11-07 19:07] #112 closed

[2017-11-07 19:09] brianking commented on #5
We didn't get around to doing this, but the site has evolved without them. Closing as WONTFIX.

[2017-11-07 19:09] #5 closed

[2017-11-07 19:17] berezovskyi commented on #159
1. I really like the tool compat graphics as in http://open-services.net/software/accept360/
2. I think the list is still up to date, but adaptors might no longer be compatible with the newer versions of the tools.
3. FMI page is very cool, but we need a bit more data and implementation work to show off like they do: I don't know of any OSLC 3 implementations yet; many implementations have a flims

[2017-11-07 19:27] berezovskyi commented on #115
@jadelkhoury do you think you are ready to talk about your OSLC use?

The project I am working on right now just begun and OSLC is not a finalised concept yet, I can't promote the use of OSLC in it until then.

I will ask Frederic as well.

[2017-11-07 19:28] berezovskyi commented on #115
Do you think any of the vendors from http://open-services.net/software/ would be ready to give a testimonial? If not yet, maybe we should just wait with this section until later.

[2017-11-07 19:47] brianking commented on #178
I checkout out the branch. Comments:

* I like the buttons! However, can they scale? e.g. if we add more links to the coding section.
* 'Join the Conversation'. I don't see an image in there ... is it on purpose?
* Do other sections possibly need images?
* You are trolling me with the Evangelise image ;)
* I'm expanding the scope of this issue, and will add a couple of more tasks. Namely:
  * Add

[2017-11-07 19:55] brianking opened #182 "News Preview broken on Homepage"
There has been a regression in the last 24 hours where the preview boxes in the news section are broken, not showing the titles and preview pictures.

![firefox_screenshot_2017-11-07t19-54-18 495z](https://user-images.githubusercontent.com/114116/32514628-e4b5e746-c3fd-11e7-9167-ece72e61c769.png)

[2017-11-07 20:04] brianking opened #183 "More Info buttons in Homepage sections"
Add buttons to homepage sections that link to more information on that particular topic. Whenever possible, keep the user on the site.

For example, the 'Domain-Specific OSLC Specifications' section can link to http://oslc.co/specifications/.

[2017-11-07 20:08] brianking opened #184 "Purge About root page content"
http://oslc.co/about/ still has content. We don't need that page, so there are 2 tasks:

- [x] Remove the content on the page to trim down the codebase. Make sure first it is not being used elsewhere
- [x] Redirect /about/ to /about/mission/.

[2017-11-07 21:24] brianking commented on #182
Fixed.

[2017-11-07 21:24] #182 closed

[2017-11-08 01:57] axelreichwein commented on #6
The "Why OSLC" section is super important. I think that it should be visible as a top-level menu item at the same level as About, etc..

I think that the "Why OSLC" section should provide different perspectives to answering the "Why OSLC" question.

- Perspective 1) what technical challenge(s) does OSLC address, how does OSLC solve it
- Perspective 2) what OSLC means for different roles (vendors,

[2017-11-08 02:08] axelreichwein commented on #19
These are questions I often face:

Why aren't OSLC specifications W3C standards?
What is the relationship between OSLC specifications and W3C standards?

What is the difference between OSLC and openAPI/Swagger?
What is the difference between OSLC and microservices?

What is the difference between OSLC and Open Data Protocol (OData)?
What is the difference between OSLC and GraphQL?
What is the diff

[2017-11-08 02:11] axelreichwein commented on #18
The About section should be focused on the people in the OSLC community and its vision. The current "Why OSLC" and "FAQ" subsections of the About section should become top-level menu items similar to About, etc...

[2017-11-08 02:15] axelreichwein commented on #115
I would be happy to provide a quote. But it would be good to get a few more, for example from OSLC Steering Committee members.

[2017-11-08 03:15] axelreichwein commented on #177
Examples of intradisciplinary scenarios:

- integration of requirements across different software applications,
- integration of PLM info across different PLM systems

Example of interdisciplinary scenario:

- integration of PLM and ALM info across different systems
- integration of PLM and ERP info across different systems

[2017-11-08 06:30] jailandrade commented on #174
I'll check, I'm working on this issue now

[2017-11-08 10:40] brianking opened #185 "More FAQ Questions"
1. Why aren't OSLC specifications W3C standards?
2. What is the relationship between OSLC specifications and W3C standards?
3. What is the difference between OSLC and openAPI/Swagger?
4. What is the difference between OSLC and microservices?
5. What is the difference between OSLC and Open Data Protocol (OData)?
6. What is the difference between OSLC and GraphQL?
7. What is the difference between O

[2017-11-08 10:42] berezovskyi commented on #6
Yes, I think "Why OSLC" question shall be answered from multiple perspectives.

In my PR #179 I tried to look at the perspective 2), but maybe you can rework it to separate 1) from it and add a more advanced text for the perspective 3)?

[2017-11-08 10:43] berezovskyi commented on #6
And I agree about the top-menu item!

[2017-11-08 10:48] brianking opened #186 "Make Why OSLC a top-level page and menu item"
As discussed in issue #6 we will make the 'Why OSLC?' page a top-level page (not under About), and also add it as a top-level menu item.

- [x] Make top-level page
- [x] Add item to main site menu

[2017-11-08 10:49] brianking commented on #6
Issue #186 opened to make this a top-level page and menu-item. We'll keep this issue about the content.

[2017-11-08 10:49] berezovskyi commented on #185
There is another question I get often from the people in ALM/PLM, but on the operational side: how can OSLC deal with the inefficiencies and overhead of RDF compared to binary-oriented standards such as OPC-UA.

Now I had a question at the last IoT conference I attended on how OSLC compares to the W3C WoT.

Re §4 & §9: these things need to be given a prominent place in the marketing material in ge

[2017-11-08 11:08] brianking commented on #185
I welcome pull requests on any of these, or just answering here in the issue and I can add.

https://github.com/OSLC/oslc-site-hugo/wiki/Adding-a-FAQ-Entry

[2017-11-08 12:17] jamsden commented on #19
I will take a pass on these questions for the FAQ

[2017-11-08 14:20] brianking commented on #115
Here is a quote from our [2014 datasheet](https://github.com/OSLC/oslc-community/issues/16) that we may be able to re-use:

![quote2014](https://user-images.githubusercontent.com/114116/32553858-47fc1970-c498-11e7-948c-18212ea2f267.png)

[2017-11-08 15:45] jailandrade commented on #15
I keep my posture that this is not a good comment system, much time to understand, configure and customize, but I am looking for solutions to these particular bugs

[2017-11-08 16:49] axelreichwein opened #187 "Getting Started page"
Most persons interested in OSLC want to find resources on how to get started. Therefore, we need a "Getting Started" page, made visible through a top-level menu item.

The section can refer to all videos/articles/code examples which are useful when getting started. For example, it should refer to general documentation on REST APIs, and Linked Data, before introducing more specific OSLC concepts.

[2017-11-08 17:23] brianking commented on #174
Fixed this by adding the baseurl parameter when running Hugo in the deploy script.

`hugo -b http://oslc.co/ -t oslc`

Closing.

[2017-11-08 17:23] #174 closed

[2017-11-08 17:26] brianking commented on #187
I don't think it is advisable to add yet another top-level menu item, it's getting too crowded. We should start thinking about sub-menus.

[2017-11-08 17:43] gabrielfdac commented on #35
Hi everyone.

For this particular image I decided to take a low-level approach to design. This is a much more complex image with much greater message to it. Because of that taking a more intricate process where we're reviewing and sharing ideas along the design process would be highly beneficial.

With that in mind I made, for now, 3 layout mock-ups. The goal here is to try to find the best layout

[2017-11-08 19:18] berezovskyi commented on #35
I like all options, but §2 looks most cohesive here, allowing various aspects to be centred around OSLC.

[2017-11-08 20:26] brianking commented on #35
2 and 3 look the best for me, but I agree 2 would be the most cohesive.

[2017-11-09 01:13] axelreichwein opened #188 "Section on "Breaking down data silos" on landing page"
One of the core ideas of OSLC is to break down data silos. Therefore, this key idea should be presented first on the OSLC landing page.

1st subsection

The Web  has broken down barriers to connect documents (e.g. web pages, images) across different servers.
Now, the Web is braking broken down barriers to connect data across different databases.
This initiative is called Linked Data and was develo

[2017-11-09 02:45] jailandrade commented on #184
I was looking for a solution to redirect pages in Hugo but I can't find anything https://discourse.gohugo.io/t/url-redirect-forwarding/4689/16

I think it's something for the nginx configuration to make the redirect, maybe @hectorsanchezmx can help in this issue

[2017-11-09 02:59] jailandrade commented on #186
I made the changes for this issue but I didn't upload to master, I created the branch https://github.com/OSLC/oslc-site-hugo/tree/issue-186 for these changes

Also I didn't delete the _Why_ page in the about submenu

[2017-11-09 08:48] berezovskyi commented on #188
Nice for inspiration: http://www.stardog.com/platform

[2017-11-09 12:45] jamsden commented on #188
Actually data integration is the easy, and perhaps over-served part of integration. Behavior, UI and application integration is what we should be striving for. This is how OSLC is different. It provides resource preview and delegated dialogs for additional application UI integration. What we need to explore is extending OSLC with MQTT to add event/behavior integration.

[2017-11-09 15:23] brianking opened #189 "META : Tracking Homepage Last Minute Changes"
This is just an issue to track other issues making changes to the homepage before launch, e.g. adding or removing sections.

- [ ] #35 Get Ecosystem visualization  up and link to new sub-page on the topic in About
- [ ] #183 More Info buttons on Homepage sections
- [ ] #188 New "Breaking down data silos" section
- [ ] #190 Merge Specifications Sections on Homepage
- [ ] #193 Simple figures explain

[2017-11-09 15:27] brianking commented on #15
Hacks for 1 and 2 don't seem to be working, just tested on oslc.co. If you make changes, notify me quickly and I will deploy for testing.

I understand your concern that this is not a good comment system, but other Hugo sites have done it and I'm wondering if it has worked well for them. Do you know of a live site that has this? I'd like to see it in action.

[2017-11-09 15:34] brianking opened #190 "Merge Specifications Sections on Homepage"
To make way for other new sections, we'll merge the OSLC Core and Domain-Specific sections into one. The emphasis there should be on domain specific. We can move extra information on to the /specifications/ page.

[2017-11-09 16:31] jailandrade opened #191 "Redirect /about to /about/mission"
When the user visits the page /about it has to redirect to /about/mission

This task it can't be done by Hugo, it needs to be done by nginx or using the .htaccess file

[2017-11-09 16:55] gabrielfdac commented on #178
Comments addressed and merged to master.

[2017-11-09 17:11] jailandrade commented on #133
I already added the steps in the documentation

[2017-11-10 10:19] brianking commented on #155
This was resolved by adding the command line option '-b http://oslc.co/' to our deploy script. Which means we can continue with '/' for local testing. oslc.github.io is not loading correctly now, but this is being decommissioned.

Closing.

[2017-11-10 10:19] #155 closed

[2017-11-10 10:21] brianking commented on #184
As issue #191 was opened for the redirect, closing this one now.

[2017-11-10 10:21] #184 closed

[2017-11-10 12:00] brianking opened #192 "Unpublish oslc.github.io Pages and create production branch"
We want to unpublish the oslc.github.io pages, but still use the repository to push to from this repository, and pull from on Digital Ocean when deploying. It seems like we can only unpublish by deleting the master branch.

https://help.github.com/articles/unpublishing-a-user-pages-site/

I propose we create a production branch and use that. We should push to it fresh after a Hugo site generation,

[2017-11-10 12:17] brianking commented on #186
This is done. Closing.

[2017-11-10 12:17] #186 closed

[2017-11-10 12:18] berezovskyi commented on #192
Why not just delete the master branch and push it again? Unless we choose the branch here https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#default-source-settings-for-repositories-without-the-username-naming-scheme the site should not get republished.

[2017-11-10 12:20] brianking commented on #192
If that works, sure.

[2017-11-10 15:41] gabrielfdac commented on #35
Using option two I've updated the [link ](https://xd.adobe.com/view/4910cd5e-0c71-4ecd-9f3d-080472198a1c) with version 1 of the design.

First off apologies on the star wars references `:) I just wanted to use some text that was not lorem ipsum. I lean on you guys to provide the content.

I see this layout as a good way to provide a overview and with some icons/short sentences give a general idea

[2017-11-10 16:01] brianking commented on #35
Ha, I know why you used Star Wars text, it looks like a tie fighter. As far as I am concerned you can proceed, this looks great.

[2017-11-10 16:18] gabrielfdac commented on #35
I actually didn't think about that, but now that you said it it does look like it haha.

Well now it'd be great to have those texts, then I can adjust some of those icons to better fit the content. And then we'd be quite close to done.

[2017-11-10 20:30] axelreichwein commented on #188
I think that data integration is not easy, considering all the incompatible databases, and proprietary integration platforms existing today preventing the easy connection of data across databases. I agree that OSLC covers very interesting aspects like resource preview and delegated dialogs. It would be great to explain it in more detail on the OSLC web site. I think that the landing page needs to

[2017-11-10 21:35] axelreichwein opened #193 "Simple figures explaining most important steps of how OSLC is used for data integration and data interoperability"
The landing page needs a simple description of how OSLC is used for data integration and data interoperability. This is best done using a simple figure highlighting most important steps.

Section name "How OSLC works"

One subsection on "How OSLC is used for data integration"
A figure below highlighting 3 main steps:

1. Create OSLC REST APIs for different data sources (not necessary if OSLC REST

[2017-11-12 00:31] axelreichwein commented on #188
Having looked at other landing pages for data integration, or for APIs, I think that the landing page should provide much less text, and very briefly mention the main advantages of OSLC. So "breaking down data silos" would just be a headline next to an image on the landng page, and if the user clicks on it, then he gets directed to a page with more details.

[2017-11-12 14:18] jamsden commented on #188
There are a lot of tools that support data integration. One of the reasons is so hard is because of the coupling these tools create between data consumers and providers. If we did integration at a higher level, integration of applications and semantics, this coupling would be reduced, the integration might be simpler, easier to maintain and deliver more value to users.

[2017-11-12 15:26] berezovskyi commented on #188
I think we are talking about the same thing here, @axelreichwein is trying to be more pragmatic and @jamsden sees the bigger picture. Take a look at @brianking slides at PDT https://www.slideshare.net/Koneksys/the-data-web-and-plm sl. 12.: proprietary data integrations are the new data silos.

So I agree that @axelreichwein points to a more immediate problem that needs to be resolved; I also agree

[2017-11-13 14:35] jamsden commented on #188
Andrew,
Thank you for the informative and enlightening response. I take two major points from your note:

"... two things that would really (ostensibly) drive adoption of OSLC is if competitors implement OSLC and if customers walk away from negotiations if OSLC support is missing."

And:

"… lock-in–free data integration is not enough to sell OSLC to the prospective users. We need to aim at a deep

[2017-11-13 15:48] axelreichwein commented on #188
@berezovskyi and @jamsden Thanks for sharing your point of view. This discussion is very useful.

@berezovskyi I agree 100% with "OSLC landing page still needs to sell mainly a linked data approach (5-star linked data, REST & RDF & LDP). Only when a visitor gets it, we can talk about what value does OSLC add to the vanilla REST implementation that serves RDF".

Talking of selling, we need take off

[2017-11-13 22:45] gabrielfdac commented on #188
Hi all, allow me to jump in and share some ideas to the homepage. Taking into consideration your comments and some suggestions I created a new design for the homepage [(link).](https://xd.adobe.com/view/a82bb371-9758-4b23-9f24-9993209c5a57)

This should be an opportunity for us to put ourselves in the perspective of someone who has never seen anything about OSLC and try and think of the best way t

[2017-11-14 13:00] hectorsanchezmx commented on #191
Redirected http://oslc.co/about/ and http://oslc.co/about to http://oslc.co/about/mission/

[2017-11-14 13:00] #191 closed

[2017-11-14 13:18] hectorsanchezmx commented on #169
.htaccess does not work in NGINX, I have added the redirects to the NGINX server block, but need to test the redirections, do we have the content on oslc.co to do that?

[2017-11-14 13:19] hectorsanchezmx commented on #192
I've created the production branch, we now need to delete the master branch and set the production branch as default.

[2017-11-14 13:20] hectorsanchezmx commented on #180
I've set the 404 template to show, however this is still not working. I'll double-check the configuration for Hugo

[2017-11-14 13:49] berezovskyi opened #194 "Create archive for the vocabulary pages as well"
- [ ] http://open-services.net/wiki/core/CoreVocabulary/

- [ ] http://open-services.net/wiki/architecture-management/OSLC-Architecture-Management-Vocabulary/

- [ ] http://open-services.net/wiki/asset-management/OSLC-Asset-Management-Vocabulary/

- [ ] http://open-services.net/wiki/automation/OSLC-Automation-Vocabulary/

- [ ] http://open-services.net/bin/view/Main/CmVocabulary

- [ ] http://open

[2017-11-14 14:05] berezovskyi commented on #169
Let's start with this:

http://oslc.co/ns/core -> http://oslc.co/ns/core/core.rdf iff the format requested is `rdf/xml` (later would be good to add `text/tutle` and still force `rdf/xml` reply or convert all files via Jena command line tools)

http://oslc.co/ns/core -> http://oslc.co/specifications/archive/core-2.0/ (will have to be http://oslc.co/specifications/archive/core-2.0/vocab/ in the futu

[2017-11-14 15:20] berezovskyi commented on #192
is auto-deploy already working?

[2017-11-14 15:21] berezovskyi commented on #192
to DO that is

[2017-11-14 15:50] brianking commented on #192
@hector, I need to update deployment instructions and make sure everyone updates their repository. Once I figure it out, I will inform everyone and you can go ahead and delete master.

@berezovskyi Here is our current deployment instructions.
https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup
What do you mean by auto-deploying? On every commit?

[2017-11-14 16:08] berezovskyi commented on #188
@gabrielfdac this is so great! 😍

Let's try to rewrite the marketing text into 5 key points and a paragraph that will have a button lead to the Why OSLC page.

Will send you the link to the Drive folder via an email.

[2017-11-14 16:10] hectorsanchezmx commented on #188
Nice job @gabrielfdac! 👍

[2017-11-14 16:10] berezovskyi commented on #169
@hectorsanchezmx the redirect does not work yet, but the homepage is redirecting to http://oslc.co/specifications/vocabularies/

[2017-11-14 16:11] hectorsanchezmx commented on #192
Alright @brianking, i'll keep an eye out for when you do the change.

[2017-11-14 16:29] jamsden opened #196 "Need a "Standards Corner" to report on spec development news"
Should discuss major updates in the OASIS OSLC standards activities:

- Changes in OASIS TC organizations
- Specification updates: new, modified, migrated
- Published specs especially for public review, Committee Specifications and OASIS Standards.

[2017-11-14 16:45] billchown commented on #193
I have some diagrams that relate to the way we use OSLC. I'll send them in

[2017-11-14 16:47] berezovskyi commented on #192
@brianking yes, on every merge to some branch (master/prod)...

I used the following Flask service for my Pelican blog on Bitbucket (I know, kinda not the same thing as GH and Hugo): https://gist.github.com/berezovskyi/52463a3ae61ea019b52dc2c5ca6921f1

[2017-11-14 17:12] berezovskyi commented on #188
I put some initial text for the value proposition, take a look.

[2017-11-14 17:13] billchown commented on #188
@gabrielfdac that is a good way to go, and I will be looking to contribute some input from the way I think and talk about OSLC - lett's not forget the L in the name, it's not a D.
@berezovskyi - where do I look for the text that you propose?
Bill

[2017-11-14 17:18] berezovskyi commented on #188
@billchown just forwarded you the link to the email I found in the OASIS roster.

[2017-11-14 17:30] brianking opened #197 "Google Analytics"
Let's move the analytics code over just before launch. We already have a code AFAIK.

[2017-11-14 17:32] berezovskyi commented on #197
@brianking I think most people from our area have a uBlock or something similar and it will block GA code (as least I do :). Maybe we want to configure Nginx to keep the logs and do it the old-school way.

[2017-11-14 17:34] brianking commented on #197
We can use both, sure. I highly dispute that "most people" block it.

[2017-11-15 16:07] brianking commented on #180
Any further updates on this @hectorsanchezmx ?

[2017-11-15 16:11] brianking commented on #169
The homepage redirect is fixed now.

@hectorsanchezmx Can you please document the redirects you setup, and other nginx changes, so that someone coming in to take over will be able to understand.

[2017-11-15 16:14] brianking commented on #192
@hector, I need to update deployment instructions and make sure everyone updates their repository. Once I figure it out, I will inform everyone and you can go ahead and delete master.

@berezovskyi Here is our current deployment instructions.
https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup
What do you mean by auto-deploying? On every commit?

[2017-11-15 16:25] brianking commented on #192
@berezovskyi I suggest opening a new issue for auto-deployment, maybe @hectorsanchezmx can look into it.

[2017-11-15 16:51] gabrielfdac commented on #188
Thanks! Glad it was well received, hopefully we can have a awesome content and design right upfront!

Should we perhaps track these design and content changes in a new issue?(With a link included to the document @berezovskyi created)

This issue is falling off track a bit, no?

[2017-11-15 18:26] gabrielfdac opened #198 "New Homepage Design/Content"
After extensive discussion on issue #188 we've chosen a new direction for the homepage layout and content.

The Design proposal can be found [Here](https://xd.adobe.com/view/a82bb371-9758-4b23-9f24-9993209c5a57/)

And [this](https://docs.google.com/document/d/1yPwTxBXLGximPwzIDAZLqZwr8j-wI8EjRi34ZJxYM4Q/edit#) is document tracking the content changes.

Feedback is needed.

[2017-11-15 18:27] gabrielfdac commented on #188
Issue now being by tracked by #198

[2017-11-15 18:27] #188 closed

[2017-11-16 14:31] #168 closed

[2017-11-16 20:30] gabrielfdac opened #199 "Launch Checklist"
This is a list of everything we should get done before Launch, and some things we should make sure are working post launch.

## Pre Launch

### Non-Content Related Issues
- [x] #192: Unpublish oslc.github.io pages and create production branch;
- [x] #173: New Facebook ID;
- [x] #169: Content Handlers and Redirects;
- [x] #200: Hang on Page Load;
- [x] #203: Improve categories on News;
- [x] #205:

[2017-11-16 20:30] brianking opened #200 "Hang on Page Loads"
For the last while (roughly 10-14 days, I can't say precisely) when site pages load in Firefox, they is a hang of a couple of seconds before the page fully loads. The browser "spinner" appears.

It appears that it is waiting for something to load, perhaps a script.

If you need me to do more debugging, let me know.

[2017-11-16 20:40] gabrielfdac commented on #200
This is not exclusive to Firefox, it's happening to me also on Chrome.

[2017-11-16 20:41] axelreichwein opened #201 "Image for landing page"
A picture showing that data from different engineering disciplines (e.g. ALM, PLM, IoT, requirements, system architecture, 3D model, simulation model, software) can be linked as in the attached image from https://data.world/ would explain very quickly what the objective/potential of OSLC is.
![connecteverything](https://user-images.githubusercontent.com/3833852/32914725-6f079434-cacb-11e7-8bb0-150

[2017-11-16 20:50] gabrielfdac commented on #201
I think this conflicts with the new approach of the homepage, with is to include highlight the OSLC benefits without overwhelming new comers.

Should this perhaps have this on another page? (Maybe the one we'll have for the benefits?) Or where would you see that image go? Considering we'll have -
 Benefits > Getting Started > Supporters - as sections.

My concern with adding more section like this

[2017-11-16 21:01] axelreichwein commented on #201
I had in mind for the image to be at the very top, for example overlaying the current image with the dots.

[2017-11-20 11:34] brianking opened #202 "Blog Post for 10 Years Meeting Announcement"
Text to be provided by Steering Commitee.

[2017-11-23 16:24] jailandrade commented on #200
There were a bunch of links in the <head> that block the load at start, I solved partially this with https://github.com/OSLC/oslc-site-hugo/commit/bcb2c06a3a615fbd912e043dc78b5d28bba84f30

[2017-11-23 18:04] gabrielfdac commented on #100
Anything new on this?

[2017-11-23 18:05] gabrielfdac commented on #101
Anything updates?

[2017-11-23 18:12] gabrielfdac commented on #185
Do we need any more questions than we currently have? http://oslc.co/about/faq/
@berezovskyi @axelreichwein

[2017-11-23 18:55] berezovskyi commented on #185
Yes, the classical one: "My question is not address here. Where is the best place to ask it?".

[2017-11-23 18:56] gabrielfdac commented on #185
Good one, should we point to the discourse as a place to ask it? Or any other idea?

[2017-11-23 19:08] berezovskyi commented on #185
Yes, Discourse is the best place.

[2017-11-23 19:08] gabrielfdac commented on #185
Got it. I'll add that myself! Thanks @berezovskyi

[2017-11-23 23:24] jailandrade opened #203 "Change the behavior of the category selector on the news page"
Right now we are using duplicate posts to be able to show posts in the news subpages, we decided to use the same filter of the resource page to replace the functionality and avoid duplicate posts.

[2017-11-24 20:24] gabrielfdac commented on #173
New ID created

[2017-11-24 20:24] #173 closed

[2017-11-24 20:51] gabrielfdac opened #205 "Style/JS and Lazy Loading images"
These will improve viewer experience and performance overall.

[2017-11-27 12:23] jamsden commented on #16
I believe RDF/XML will need to be provided since that is what OSLC 2.0 users of the namespace documents are most likely expecting.

If the server can support content negotiation, we can provide the vocabulary and shape files in other RDF serializations including Turtle and JSON-LD. But RDF/XML should be the minimum.

All the vocabularies and shapes available from OASIS document repositories or SCM

[2017-11-27 12:35] jamsden commented on #194
The IBM Tivoli Monitoring Vocabulary http://open-services.net/uploads/wiki/itm-vocabulary.html is a jazz.net, not open-services.net vocabulary. Looks like the Tivoli team used some open-services.net facilities for developing the vocabulary. Would be nice to archive it, but it does not need to be part of the open-services.net/ns documents.

Reconciliation is a finalized open-services.net 2.0 specif

[2017-11-27 12:41] jamsden commented on #185
We have some entries now, more is always better. Suggest this not block site launch.

[2017-11-27 12:45] jamsden commented on #177
Probably not needed for launch. Best examples are eclipse/Lyo reference implementations and Bugzilla samples, IBM's Continuous Engineering tool suite, Tasktop Lifecycle Integration Adapters, Koneksys apps, MID Smartfacts, etc.

[2017-11-27 18:29] gabrielfdac commented on #192
Unpublished

[2017-11-27 18:29] #192 closed

[2017-11-27 18:30] gabrielfdac commented on #185
Current progress sufficient for Launch. New entries should be tracked on new issues. Closing.

[2017-11-27 18:30] #185 closed

[2017-11-27 18:31] gabrielfdac commented on #200
This has been fixed. Closing

[2017-11-27 18:31] #200 closed

[2017-11-27 18:31] gabrielfdac commented on #205
Finalized and deployed. Closing

[2017-11-27 18:31] #205 closed

[2017-11-28 09:21] brianking commented on #200
Nice, it is super snappy now!

[2017-11-28 09:24] brianking commented on #185
Looks good. One suggestion I would make is to put the last question 'Is your question not addressed here?' at the top, perhaps in some sort of info box to distinguish it from the other questions.

[2017-11-28 09:28] brianking commented on #203
Happy to see this happening. Makes it easier to deploy new categories, and less overhead when creating new blog posts.

Please consider updating the blog post instructions with more information on categories:
https://github.com/OSLC/oslc-site-hugo/wiki/Creating-A-News-Post

[2017-11-28 09:29] brianking commented on #202
Looks like this is not needed, as the post was made on the wiki.

[2017-11-28 14:32] jamsden commented on #146
We need a link from the home page to the workgroups, I couldn't find one.

The icons on the http://oslc.co/workgroups/ page are ok, but the text descriptions are partially occluded and can't be scrolled - there's no way to read the text. Hover over a workgroup further occludes the text and pops up the See more button. I would rather the text was scrollable and clicking on the workgroup name brough

[2017-11-28 17:44] gabrielfdac commented on #203
@brianking yes, we will update the documentation in due time. For now we're trying to make a push for launching the website live, so it might come after that.

[2017-11-28 17:44] gabrielfdac commented on #203
This solution has been implemented, merged and deployed. Closing.

[2017-11-28 17:44] #203 closed

[2017-11-28 18:05] gabrielfdac commented on #146
@jamsden the link to workgroups is in the _Contribute_ page.

Some things to note about the homepage is that
1. It is undergoing a complete overhaul both in layout and content, so the current version is not a good representation of what's going to be in the end. (See issue #198 for more details)
2. As part of the layout change what we're trying to achieve is a proper introduction for new comers. T

[2017-11-28 18:06] gabrielfdac commented on #185
Good suggestion. I'll revisit it once more pressing issues are dealt with.

[2017-11-28 18:07] gabrielfdac commented on #177
@jamsden Good to have some suggestions. And I do believe it is super important to have examples to better illustrate OSLC.

We will definitely revisit this after launch.

[2017-11-29 12:54] jamsden commented on #100
Should https://github.com/OSLC/oslc-site-hugo/wiki/Creating-A-News-Post be added to https://github.com/OSLC/oslc-site-hugo/blob/master/user_guide.md?

[2017-11-29 13:02] jamsden commented on #77
Should https://github.com/OSLC/oslc-site-hugo/wiki/Creating-A-News-Post be added to https://github.com/OSLC/oslc-site-hugo/blob/master/user_guide.md?

[2017-11-29 15:28] jamsden commented on #77
Should https://github.com/OSLC/oslc-site-hugo/wiki/Contributing-Setup be copied or referenced in https://github.com/OSLC/oslc-site-hugo/blob/master/user_guide.md?

[2017-12-09 11:23] berezovskyi opened #206 "Handle mail bounces in Discourse"
Mailgun needs to be set up to ping Discourse about that:

https://meta.discourse.org/t/handling-bouncing-e-mails/45343

This prevents us from bulk inviting the users from the mailing lists when we launch.

[2017-12-18 13:25] berezovskyi opened #207 "Pass correct IP address from to Discourse via the reverse proxy"
See http://discourse.oslc.co/t/website-performance-reports/60/10 for details, Discourse actually thinks that a single IP generates all the load.

[2018-01-05 22:25] gabrielfdac opened #208 "About page restructure"
Initially it was thought to be a good idea to separate about sub-sections into sub-pages. The idea was having a sub-navigation to swap between the pages for a better user experience, instead of a long scroll down.

However this has done the opposite. Despite avoiding scrolling, it created an extra step to visualize each sub-page. Not only is this more time consuming for the user but also he has to

[2018-01-09 23:29] gabrielfdac opened #209 "Overall Improvements"
As seeing bellow:

- [x] Add new buttons to Contribute;
- [x] Improve Resources mouse hover;
- [x] Add new Working Groups page layout;
- [x] Miscellaneous changes to News;
- [x] Footer improvements for pages with few content;

These are relatively small tasks which shouldn't need their own tasks

[2018-01-11 18:59] gabrielfdac commented on #209
Fixes deployed. Will reopen in case another similar issue is found

[2018-01-11 18:59] #209 closed

[2018-01-11 18:59] gabrielfdac commented on #208
Deployed. Closing

[2018-01-11 18:59] #208 closed

[2018-01-16 00:02] gabrielfdac opened #210 "Mobile Improvements"
A lot of changes were made in the last weeks to the layout of the page. And, for the most part, mobile responsivity was left unchecked.

This will track the mobile work on:
- [x] Header (and notification bar);
- [x] Home;
- [x] About Us;
- [x] Resources;
- [x] News (and posts);
- [x] Working Groups;
- [x] Specifications;
- [x] Resource Tutorials;
- [x] Tables;

[2018-01-19 02:56] #210 closed

[2018-01-23 20:57] gabrielfdac opened #211 "Content structure improvements"
This task tracks the progress of improvements that were seen as necessary to improve how content is structure so that updating it is easier in the future.

[2018-02-23 21:36] berezovskyi opened #212 "Letsencrypt TLS/SSL cert for discourse.oslc.co"
I started to link to some posts on that forum externally (just a test of engagement in a letter to lyo-dev), but it would be good to get TLS going, so that both the login page is secure and the links are stable.

On the different note, do we plan to remain on the oslc.co or do you plan to kill that domain and use open-services.net instead? Because then we can't really link to discourse.oslc.co the

[2018-02-23 21:38] berezovskyi commented on #212
@brianking mentioned a while ago in #68 that @hectorsanchezmx had Letsencrypt ready but, as I understood, for the open-services.net domain, not for oslc.co.

[2018-02-24 03:45] gabrielfdac commented on #212
@berezovskyi I do not have any details on that Letsencrypt, I'll see if I can find anything on that. And as far as I understood the idea was to use open-services.net, I could be wrong though.

[2018-03-09 16:45] berezovskyi opened #213 "Explain clearly the difference from LDP"
I think some fraction of the users can be expected to know what RDF is and might have heard about LDP (though not have studied the spec in detail). When such users land on oslc.co, they need a clear explanation of how OSLC builds on top of LDP for [thousand reasons here] but extends it with the [a few useful concepts here] concepts to make it particularly suitable for systems integration.

Just an

[2018-03-12 00:39] jamsden commented on #213
I have something on how OSLC builds on WWW architecture and HATEOAS. But basically LDP provides the containers for resources, and the Link headers provide incremental discovery information. Its also possible to have LDPCs correspond to OSLC ServiceProviders to bring these too approaches together.

[2018-04-30 13:45] jamsden commented on #16
Summarizing where we are on this issue:

The vocabulary documents will be stored and maintained in the OASIS Domains TC GitHub: https://github.com/oasis-tcs/oslc-domains. The applicable files are typically {domain}-vocab.ttl and {domain}-shapes.ttl.

When the OASIS documents are published as Committee Specification revisions, these documents will be published to the OASIS document repository and t

[2018-05-07 18:50] gabrielfdac commented on #16
Thanks Jim, so in when the new site is live and under open-services.net we'd have:

- http://open-services.net/wiki/core/Vocabulary-index/* -> http://oslc.co/specifications/vocabularies/
- http://open-services.net/ns/{domain}/ -> RDF/XML Vocabulary file
- http://open-services.net/ns/{domain}/{domain.ttl}: Instead of linking to oasis just grab the file already in /ns/*

Is that correct or I missed

[2018-05-07 19:40] berezovskyi commented on #16
I think the following should work when the new site goes live as it does now:

[code]

[2018-06-01 21:13] gabrielfdac commented on #16
Hi! Sorry for the delay to respond to this.

We're currently implementing and testing the redirects so that we can feel comfortable for launching the website.

Right now we are testing the different redirects of `/ns/{domain}` as a test, so it should accept the proper headers as of today. So give those a try if you can!

However, while implementing it we got a couple of questions:

1. What will be

[2018-10-10 21:34] berezovskyi commented on #16
I believe the current handling is not correct:

[code]

I don't expect a redirect here but fine. Then:

[code]

Which serves me non-RDF content **and** redirects me somewhere else w/o serving any RDF.

[2018-10-10 21:36] berezovskyi commented on #16
also see https://github.com/OSLC/oslc-site-hugo/issues/2

[2018-10-10 21:42] berezovskyi commented on #212
I think TLS is a live blocker given that https://security.googleblog.com/2018/02/a-secure-web-is-here-to-stay.html

[2018-10-10 21:51] berezovskyi opened #214 "TLS certs for open-services.net"
As discussed in #212, Chrome and other browsers are moving to mark non-HTTPS sites as unsafe. I consider adding TLS a blocker to the server config of a new website.

[2018-10-10 21:52] berezovskyi commented on #16
plus, there is overlap with #169

[2018-10-10 21:53] berezovskyi commented on #169
From #214, we need to ensure proper redirects from HTTP to HTTPS URLs too.

[2018-10-11 17:07] berezovskyi opened #215 "Distorted logo sizes"
![image](https://user-images.githubusercontent.com/64734/46821372-be7e6180-cd88-11e8-9799-931926b8d766.png)

looks really wierd. can we crop or have white space around logos instead of changing their proportions? many oompanies forbid changing aspect ratios (I am certainly not impressed with Lyo logo)

[2018-10-11 19:42] gabrielfdac commented on #215
Hi Andrew,

This is an issue with Mozilla, no proportions were changed just how the browser interprets the styling. I'll issue a fix when I can, thanks for noticing!

[2018-10-12 16:41] berezovskyi commented on #16
@gabrielfdac here is the reply for your two questions:

1. If I open http://open-services.net/ns/core#AnyResource in the browser, I should get redirected to the right anchor as I do today. By default, browsers request HTML. "no header" situation can only arise if you have a poorly coded client. I would suggest returning RDF/XML in that case. Chrome requests a page with `text/html; charset=utf-8` M

[2018-10-12 18:18] jamsden commented on #16
I have updated the specifications and specifications/vocabularies pages to refer to the latest documents.

[2018-10-12 18:20] jamsden commented on #18
Doesn't need to be a live blockers

[2018-10-12 18:22] jamsden commented on #198
Is this complete enough to close or at least remove the live blocker? Adding content will be ongoing. New issues should be raised for specific proposed content updates.

[2018-10-12 18:23] jamsden commented on #193
Does this still need to be a live blockers?

[2018-10-12 18:27] jamsden commented on #35
Does not need to be a live blockers.

[2018-10-12 18:29] jamsden commented on #20
Doesn't need to be a live blockers, unless someone's legal department complains. Whose handling this?

[2018-10-12 18:29] jamsden commented on #16
Once we verify the RDF serialization resources redirects, this can be closed.

[2018-10-12 21:29] gabrielfdac commented on #178
Old issue, no longer relevant, closing

[2018-10-12 21:29] #178 closed

[2018-10-12 21:30] gabrielfdac commented on #161
This issue has already been completed, closing

[2018-10-12 21:30] #161 closed

[2018-10-12 21:31] gabrielfdac commented on #176
Old issue, irrelevant to the current status. Closing

[2018-10-12 21:31] #176 closed

[2018-10-12 21:32] gabrielfdac commented on #177
Old issue, and doesn't take into account the latest content. If this is still an issue a new one should be created with updated criticism/content. Closing

[2018-10-12 21:32] #177 closed

[2018-10-12 21:33] gabrielfdac commented on #183
Already done. Closing

[2018-10-12 21:33] #183 closed

[2018-10-12 21:33] gabrielfdac commented on #189
Already done, closing

[2018-10-12 21:33] #189 closed

[2018-10-12 21:33] gabrielfdac commented on #193
@jamsden this issue is already done, closing it.

[2018-10-12 21:33] #193 closed

[2018-10-12 21:34] gabrielfdac commented on #198
@jamsden agreed, and it is already finished. Closing

[2018-10-12 21:34] #198 closed

[2018-10-12 21:36] gabrielfdac commented on #187
@jamsden agree, I'll remove the tag. Also I'd also argue whether or not this is actually needed. Not closing for now but we could eventually discuss this.

[2018-10-12 21:36] #187 closed

[2018-10-12 21:36] gabrielfdac commented on #159
Agreed

[2018-10-12 21:36] gabrielfdac commented on #159
Didn't mean to close it

[2018-10-12 21:37] #133 closed

[2018-10-12 21:38] gabrielfdac commented on #20
@jamsden at this time, no one. Who should be assigned to it?

[2018-10-12 21:39] gabrielfdac commented on #20
I'll remove the label for now

[2018-10-12 21:40] gabrielfdac commented on #18
This is already done, see http://oslc.co/about/#mission
Closing

[2018-10-12 21:40] #18 closed

[2018-10-12 21:43] gabrielfdac commented on #169
@berezovskyi no, he's no longer working at koneksys. I'll reassign the issue

[2018-10-12 21:47] gabrielfdac commented on #2
Is this still needed?

[2018-10-12 21:48] gabrielfdac commented on #180
Done. Closing

[2018-10-12 21:48] #180 closed

[2018-10-15 13:37] gabrielfdac commented on #2
Redundant, latest discussions in #16 closing

[2018-10-15 13:37] #2 closed

[2018-10-15 16:03] #122 closed

[2018-10-15 16:16] FabioRNT commented on #16
@berezovskyi Right now the redirects are configured to answer according to the header. So, if you use curl -H 'Accept: application/rdf+xml', it will answer the vocab in rdf/xml format. If you change the header to 'Accept: application/ld+json' or 'Accept: text/turtle' it will answer in json-ld or ttl format. When you use multiple Accept values in your curl request, the redirects don't match and the

[2018-10-15 17:59] FabioRNT commented on #214
@berezovskyi I can use let's encrypt (https://letsencrypt.org/) to generate an SSL certificate for the oslc.co website. Do you think that it will solve the issue?

[2018-10-15 18:01] berezovskyi commented on #214
But will oslc.co or open-services.net be the main domain after the migration?

/Andrew

On Mon, Oct 15, 2018 at 8:00 PM +0200, "Fábio Ribeiro de Assis Neto" <notifications@github.com<mailto:notifications@github.com>> wrote:

@berezovskyi<https://github.com/berezovskyi> I can use let's encrypt (https://letsencrypt.org/) to generate an SSL certificate for the oslc.co website. Do you think that it wi

[2018-10-15 18:03] FabioRNT commented on #214
I believe that it will star open-services.net, but @gabrielfdac can confirm.

[2018-10-15 18:16] jamsden commented on #214
That is my impression as well. oslc.co was only a development site to
replace open-services.net.

Jim Amsden, Senior Technical Staff Member
OSLC and Linked Lifecycle Data
919-525-6575

From:   "Fábio Ribeiro de Assis Neto" <notifications@github.com>
To:     OSLC/oslc-site-hugo <oslc-site-hugo@noreply.github.com>
Cc:     Subscribed <subscribed@noreply.github.com>
Date:   10/15/2018 02:03 PM
Subject

[2018-10-15 19:46] FabioRNT commented on #16
@berezovskyi This kind of configuration is ok? Or should it be configured in a different way?

[2018-10-15 21:58] gabrielfdac commented on #215
@berezovskyi just pushed a fix for that. Should work normally on Mozilla now. I'll close as soon as you confirm the fix on your end as well.

PS: You'll need a cleared cache to see the changes, you can use ctrl (or command) + F5 to clear the cache of the page you're trying to load.

[2018-10-16 16:53] gabrielfdac commented on #214
The downtime won't related to the NGINX changes, that we can do in a matter of minutes. The downtime will be related to the DNS server change, and the time it takes for that to propagate to DNS providers around the world. Usually a few hours of downtime.

Or do you mean for us to setup the certificate on open-services.net for testing?

[2018-10-16 17:00] berezovskyi commented on #214
I am trying to avoid the downtime that can be caused by discovering some problems on the newly deployed domain.

Sure, please go ahead with the cert setup etc. I will set the ip addr in my hosts for the open-services.net to the output of `dig +short A oslc.co` (I assume you will be deploying on the same server).

[2018-10-16 17:05] berezovskyi commented on #214
Pro tip: try setting the TTL to 600 in the DNS panel for open-services.net now instead of 7799. This will shorten the transition time when it's time to switch the A record.

[2018-10-16 18:03] gabrielfdac commented on #214
I will try, however open-services.net and oslc.co are hosted in different servers. I'll see what I can do.

[2018-10-16 18:04] gabrielfdac commented on #214
And yes we will deploy on the same server as oslc.co

[2018-10-17 23:53] FabioRNT commented on #214
Just configured Let's Encrypt SSL certificates and nginx redirect for `oslc.co`, `archive.oslc.co`, and `discourse.oslc.co`. @berezovskyi can you check if everything is allright?

[2018-10-18 05:51] berezovskyi commented on #214
@FabioRNT oslc.co is 404 over HTTP (but HTTPS works) and open-services.net is 404 and the TLS cert is configured incorrectly, archive is OK (both cert and the redirect) and discourse is 404 over HTTP (HTTPS works but the redirect from HTTP does not exist).

Just to be clear, we are not touching any config on the current open-services.net host right now, just your DO server?

[2018-10-18 05:51] berezovskyi commented on #214
![image](https://user-images.githubusercontent.com/64734/47133798-9e7c0000-d2aa-11e8-8b76-a7c0d6661de3.png)

[2018-10-18 05:52] berezovskyi commented on #214
that's how it would look like after switching the A record

[2018-10-18 17:39] gabrielfdac commented on #16
So how can we test if everything is correct with the redirects?

[2018-10-18 17:57] berezovskyi commented on #16
@FabioRNT well, it's not. I understand the challenge but my request was 100% a correct HTTP request from the content negotiation point of view. I am afraid we might need a small webapp to handle this properly.

[2018-10-18 18:11] berezovskyi commented on #16
https://github.com/golang/gddo/blob/master/httputil/negotiate.go#L43 or https://www.npmjs.com/package/accepts

[2018-10-18 18:13] berezovskyi commented on #16
@FabioRNT please create a repo in your language/framework of choice and I will contribute to dev & test.

[2018-10-18 18:15] gabrielfdac commented on #16
@berezovskyi so what you're saying is that with your request:

`curl http://oslc.co/ns/core \
  -H 'Accept: text/turtle, application/rdf+xml, application/ld+json, application/n-triples, application/n-quads, application/owl+xml' -i`

You're expecting all file types in return? Meaning you'd receive in return a .ttl, .rdf, .json... etc?

[2018-10-18 18:30] berezovskyi commented on #16
No, I expect the server to return the first format with the highest priority that the server has. Here is a fuller test case:

`curl http://oslc.co/ns/core \ -H 'Accept: text/turtle, application/rdf+xml, application/ld+json, application/n-triples, application/n-quads, application/json;q=0.9,  application/rdf+json;q=0.8, text/*;q=0.5' -i`

In English: "I prefer Turtle, but RDF/XML is fine, and so a

[2018-10-18 18:30] berezovskyi commented on #16
https://developer.mozilla.org/en-US/docs/Glossary/Quality_values

[2018-10-18 18:36] berezovskyi commented on #16
Then the server may have its own table of "weights" (for example, we may have RDF/XML and Turtle as OASIS approved formats with q=1.0 and the rest will be generated via Jena command line tools with q=0.5) which it would multiply with the weights the client has provided (missing formats can be removed from the list at this step) and then would do a _stable sort_ of the remaining list of the accepta

[2018-10-18 18:58] FabioRNT commented on #214
Yes, we're just changing the configs in the DO server.

Thanks for the testing @berezovskyi, I was fooled by my cache, in which everything was working. Now I've fixed the issues and everything should work properly.

[2018-10-18 19:16] gabrielfdac commented on #16
Oh I see, we're trying to figure it out then. We'll let you know when we know more

[2018-10-18 19:29] berezovskyi commented on #16
Ready to help if I can.

[2018-10-18 20:31] berezovskyi commented on #214
Not yet, not for me at least :) I use "disable cache" checkbox in the devtools as a bulletproof method. Is the IP address correct?

![image](https://user-images.githubusercontent.com/64734/47182331-6b2a8700-d325-11e8-85ac-247738bef039.png)

[2018-10-18 20:33] berezovskyi commented on #212
![image](https://user-images.githubusercontent.com/64734/47182496-e1c78480-d325-11e8-96b9-ca6ee25719a6.png)

[2018-10-18 20:34] berezovskyi commented on #212
Forum post preview is not working as a result of that.

[2018-10-18 20:42] gabrielfdac commented on #214
@berezovskyi we aren't changing anything in open-services.net. Only in DO for oslc.co. Our goal is to get everything as intended in DO since it's where domain will be hosted in the end

[2018-10-18 20:46] gabrielfdac commented on #214
Although, your URL is open-services.net but your IP is the one for oslc.co... how's that possible? 😅

[2018-10-18 21:27] berezovskyi commented on #214
/etc/hosts maybe? :)

/Andrew

On Thu, Oct 18, 2018 at 10:52 PM +0200, "Gabriel Fernandes de Araujo Costa" <notifications@github.com<mailto:notifications@github.com>> wrote:

Although, your URL is open-services.net but your IP is the one for oslc.co... how's that possible? 😅

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/OSL

[2018-10-19 20:53] berezovskyi commented on #215
perfect, thank you!

[2018-10-19 20:53] #215 closed

[2018-10-19 21:01] berezovskyi commented on #214
nope, still persists. let's go one step down from the browser:

[code]

Am I missing something?

[2018-10-19 21:03] gabrielfdac commented on #214
Yes, open-services.net IP is not 165.227.5.255. That is the IP for oslc.co

open-services.net IP is 45.79.202.99

[2018-10-19 21:07] berezovskyi commented on #214
yes, but we have just agreed a few messages above that you are not editing the production settings on the open-services.net but instead preparing the migration. Am I missing something?

[2018-10-19 21:10] berezovskyi commented on #214
what I am expecting to see: a website that looks like oslc.co but is served on the domain name open-services.net from the IP address 165.227.5.255. I want to be testing the almost-production version of the website that we can expect to see once you edit the A records on the open-services.net.

[2018-10-19 21:13] berezovskyi commented on #214
btw, the TTL for open-services is still very high:

[code]

You should set both of those to something 300..600 so that we don't have the DNS caching problems.

[2018-10-23 01:14] FabioRNT commented on #16
Just implemented a node.js server to handle content negotiation for `oslc.co/ns/core` and the other specs. I've tested the redirects to OASIS in chrome and the `.rdf, .jsonld, and .ttl` files in postman, everything works on my end. I'll upload the code to the OSLC GitHub soon. @berezovskyi, can you test it to see if it is working as expected?

[2018-10-23 16:54] berezovskyi commented on #16
@FabioRNT thanks a lot! Works really nicely. While playing with the endpoint, I had two thoughts:

1. Can we use the 303 See Other code for the last redirect. Because the `oslc.co/ns/core` is actually not moving anywhere.
2. Really nice touch returning 406 Not Acceptable for the unsupported formats but I think you are leaking a bit of Node info there.

`<pre>Error: Not Acceptable<br> &nbsp; &nbsp;

[2018-10-27 17:44] berezovskyi commented on #212
@FabioRNT moved to the new domain and fixed the issue

[2018-10-27 17:44] #212 closed

[2018-10-27 17:49] berezovskyi commented on #16
triple checked everything 👌 thanks for the effort @FabioRNT @gabrielfdac

[2018-10-27 17:49] #16 closed

[2018-10-27 17:50] berezovskyi commented on #169
all redirects are now handled in https://github.com/OSLC/oslc-site-content-negotiation

[2018-10-27 17:50] #169 closed

[2018-10-27 17:51] berezovskyi commented on #206
I think GDPR has prevented us from doing bulk invites anyway. @gabrielfdac can check the bounces from time to time manually in the mailgun panel

[2018-10-27 18:18] berezovskyi commented on #15
the embedding path whitelist expression was to rigid. Set it to `/news/.*`

[2018-10-27 18:18] #15 closed

[2018-10-27 19:52] berezovskyi opened #216 "Log the referer headers"
We should make sure that the links to the temp oslc.co site and the old open-services.net documents are updated wherever possible.

Let's gather the referer header on the:

* access log entries to the oslc.co site
* error log entries to the open-services.net site

[2018-10-27 19:53] berezovskyi opened #217 "Set up webmaster email redirect to GMX"
To keep receiving the letters even when the hosting plan is cancelled

[2018-10-27 20:00] berezovskyi commented on #128
We've got most of them https://open-services.net/resources/

[2018-10-27 20:00] #128 closed

[2018-10-27 20:01] berezovskyi commented on #144
Searching for .NET almost worked ("net" works but ".net" doesn't):

![image](https://user-images.githubusercontent.com/64734/47608801-e2ea6700-da33-11e8-838b-30ca6d73d350.png)

[2018-10-27 20:01] #144 closed

[2018-10-27 20:02] berezovskyi commented on #106
@gabrielfdac shouldn't it be on the same page as https://open-services.net/why/

[2018-10-27 20:08] berezovskyi commented on #20
There is some people section for the SC committee now. Shall we keep it, @jamsden? https://open-services.net/about/#people

[2018-10-27 20:21] berezovskyi opened #218 "Change the YT channel name"
We should remove the .NET part.

https://www.youtube.com/channel/UCO09R3FGcxbMudDIc3htdKQ

[2018-10-27 20:21] berezovskyi opened #219 "Consider 1password"
https://1password.com/teams/pricing/

[2018-10-27 20:34] #190 closed

[2018-10-27 20:35] berezovskyi commented on #101
We also need to ensure GDPR compliance (not to set any cookies before consent)

[2018-10-27 20:36] berezovskyi commented on #159
wow, the FMI page just got better over the last 12 mo

[2018-10-27 22:37] FabioRNT commented on #216
Just configured oslc.co to redirect to open-services.net. Also configured access logs for oslc.co and open-services.org and error log for open-services.net

[2018-10-27 22:43] berezovskyi commented on #216
Cool, thank you! Does it include the referrer headers?

/Andrew

On Sun, Oct 28, 2018 at 12:37 AM +0200, "Fábio Ribeiro de Assis Neto" <notifications@github.com<mailto:notifications@github.com>> wrote:

Just configured oslc.co to redirect to open-services.net. Also configured access logs for oslc.co and open-services.org and error log for open-services.net

—
You are receiving this because you aut

[2018-10-28 21:31] #214 closed

[2018-10-29 12:02] jamsden commented on #216
Awesome, looks great. Thanks.

Jim Amsden, Senior Technical Staff Member
OSLC and Linked Lifecycle Data
919-525-6575

From:   "Fábio Ribeiro de Assis Neto" <notifications@github.com>
To:     OSLC/oslc-site-hugo <oslc-site-hugo@noreply.github.com>
Cc:     Subscribed <subscribed@noreply.github.com>
Date:   10/27/2018 06:37 PM
Subject:        Re: [OSLC/oslc-site-hugo] Log the referer headers (#216)

[2018-10-29 12:46] rersch commented on #20
I would recommend keeping the steering committee information as is on open-services.net, but add the link Jim provided for more details (bio’s).
It’s a nicer overview and fits to the layout of the other pages.

From: Jim Amsden [mailto:notifications@github.com]
Sent: Monday, October 29, 2018 1:27 PM
To: OSLC/oslc-site-hugo
Cc: Ersch, Rainer (CT RDA SSI DEV-DE); Mention
Subject: Re: [OSLC/oslc-site

[2018-10-29 12:54] rersch opened #220 "Missing information about User Groups on new open-services.net"
We have at least one active User Group (Integration Patterns) and we should promote the instrument User Groups very prominent on open-services.net for additional topics.
At minimum User Groups should have their own overview page, maybe with a link from the “Working Groups” page or with an own entry in the menubar.

[2018-10-29 13:03] rersch opened #221 "broken link for "Contribute""
on the page https://open-services.net/contribute/  the link "Contribute" is broken.
At least I do get an "DNS error" for http://discourse.oslc.co/

[2018-10-29 17:56] FabioRNT commented on #216
Configured `oslc.co` and `open-services.org` to log the Accept header. @berezovskyi is there other headers that should be logged?

[2018-10-29 18:02] berezovskyi commented on #216
Did you mean the Referer header?

[2018-10-31 00:10] gabrielfdac commented on #218
Should we change it to the full name? Or perhaps simply OSLC?

Or Open Services is fine?

[2018-10-31 00:32] gabrielfdac commented on #218
Channel name changed to **Open Services for Lifecycle Collaboration**

[2018-10-31 16:50] #218 closed

[2018-11-01 03:39] gabrielfdac commented on #221
Link fixed. the forum link is now:  https://forum.open-services.net
Was that all?

[2018-11-01 17:20] gabrielfdac commented on #220
How about we simply list that within the **Working Groups** page?

[2018-11-07 15:30] #221 closed

[2018-11-07 15:31] #211 closed

[2018-11-07 15:32] #201 closed

[2018-11-07 15:32] #199 closed

[2018-11-07 15:34] gabrielfdac commented on #194
This issue is already done. See archive.open-services.net

[2018-11-07 15:34] #194 closed

[2018-11-07 15:37] gabrielfdac commented on #35
No longer needed.

[2018-11-07 15:37] #35 closed

[2018-11-07 15:39] gabrielfdac commented on #20
So we'll keep the steering committee section in about, but bellow it add a link to https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=oslc-sc, correct?

[2018-11-08 13:32] jamsden opened #222 "Specification link redirects not working?"
Shouldn't http://open-services.net/bin/view/Main/QmSpecificationV2 redirect to http://archive.open-services.net/bin/view/Main/QmSpecificationV2

[2018-11-09 18:31] jamsden opened #223 "OSLC Developer Guide links are broken"
http://oslc.github.io/developing-oslc-applications/ has a series of tutorials and developer guides that have many links to open-services.net URLs that are now in the archive. I wonder if it would be possible to have these links redirect to the archive so they aren't broken.

In particular, it is most unfortunate that https://archive.open-services.net/resources/tutorials/oslc-primer/index.html got

[2018-11-09 18:44] berezovskyi opened #224 "Mobile navbar has extra top margin"
![image](https://user-images.githubusercontent.com/64734/48281729-c567c500-e457-11e8-9bfd-16dfba279c30.png)

[2018-11-09 23:02] berezovskyi commented on #222
It does. You just have to click on the Archive link because the redirection is not automatic.

[2018-11-09 23:07] berezovskyi commented on #223
So, the links are redirected but not automatically. You need to click on a link on a 404 page. The problem is that it's a blanket redirect, not a set of smart rules. I.e. you will see a button to try the archive even if you navigate to https://open-services.net/qwertyuiop%C3%A5%C3%A4%C3%B6lkjhgfdsa

[2018-11-12 15:10] gabrielfdac commented on #222
If that is an important link or often used one we could create a permanent redirect on nginx

[2018-11-12 22:02] gabrielfdac commented on #224
Good catch, just added a fix. Let me know if it fixes it for you

[2018-11-13 21:18] #224 closed

[2018-11-13 21:55] berezovskyi commented on #224
It does, thank you!

--
/Andrew

On 2018-11-13 , at 22:18, Gabriel Fernandes de Araujo Costa <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #224<https://github.com/OSLC/oslc-site-hugo/issues/224>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/OSLC/oslc-site-hugo/issues/224#event-1964261439>,

[2018-11-21 04:09] #202 closed

[2018-12-03 22:31] jamsden commented on #197
Was there one for the old site we can reuse? Should be noted in the admin document I sent you for the old site.

[2018-12-04 16:11] gabrielfdac commented on #197
I can't find this document, did you send it by email?

[2018-12-04 16:44] jamsden commented on #197
From OSLC-accounts-minimal-support2016.docx:

We have the following active @open-services.net mailing accounts:
* stc-private@open-services.net: this account only serves to forward email to the steering committee members. Set up this forwarding under Email Forwarders. Is this still needed? The OASIS OSLC MS StC email is oslc-sc@lists.oasis-open.org
* ask@open-services.net Vanity email that forward

[2018-12-04 18:00] brianking commented on #197
@jamsden you just posted a password in a public location.

[2018-12-04 18:11] jamsden commented on #197
None of those are valid anymore.

[2018-12-13 16:15] jamsden commented on #213
LDP also defines the predictable resource representations: Turtle and JSON-LD. So LDP provides a predictable way to know what the resources are, and how they are organized. OSLC utilizes LDP, but is not necessarily a generic LDP server. Rather it uses LDP to specify how servers provide resource operations, using the same approach as LDP for resource representations and organization.

[2018-12-13 16:19] jamsden opened #225 "Setup redirects for old OSLC specification wikis"
Many people have saved links to the old open-services.net specification wikis, and they are surprised when these links return 404. There is a button on the error page that takes the user to corresponding page in the archive. However, each of the specifications should have direct redirects to the specification wikis. For example, the OSLC Core 2.0 specification should redirect https://open-services

[2019-01-11 18:16] berezovskyi commented on #217
I think it's done

[2019-01-11 18:16] #217 closed

[2019-01-14 16:53] jamsden commented on #225
  | Domain | Specification
-- | -- | --
Core | https://archive.open-services.net/specifications/core-2.0/index.html | https://archive.open-services.net/bin/view/Main/OslcCoreSpecification.html
Resource Shape | https://archive.open-services.net/specifications/resource-shapes-2.0/index.html |  
OSLC Query |   |  
Tracked Resource Set | https://archive.open-services.net/specifications/tracked-resourc

[2019-01-22 02:33] FabioRNT commented on #225
Just created and tested the redirects mentioned in this table, can anyone test it to see if everything is  correct?

[2019-01-22 15:37] jamsden commented on #225
For QM spec: https://open-services.net/wiki/quality-management/index.html should have been  https://archive.open-services.net/bin/view/Main/QmSpecificationV2.html

All others were verified as correct.

[2019-01-22 16:20] FabioRNT commented on #225
Just fixed it.

[2019-03-01 14:03] #197 closed

[2019-04-30 20:54] berezovskyi opened #230 "True italics missing"
![image](https://user-images.githubusercontent.com/64734/56992626-c245ca00-6b9a-11e9-8d1a-fb03864c8351.png)

this is simply a slanted version by the OS.

[2019-04-30 20:56] berezovskyi opened #231 "Homepage exceeds body width"
Compare the homepage

![image](https://user-images.githubusercontent.com/64734/56992755-0f29a080-6b9b-11e9-85f2-edc227fefb5a.png)

To any other page:

![image](https://user-images.githubusercontent.com/64734/56992789-1fda1680-6b9b-11e9-88d1-3193af09949a.png)

[2019-04-30 20:56] berezovskyi commented on #231
@gabrielfdac do you know how to fix it?

[2019-04-30 20:58] berezovskyi opened #232 "Swap menu items around"
I think it makes more sense to move About Us a bit later and News a bit earlier.

[2019-04-30 21:21] berezovskyi opened #234 "Warnings on Hugo 0.55.4"
Building sites … WARN 2019/04/30 23:20:50 found no layout file for "HTML" for "taxonomyTerm": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.
WARN 2019/04/30 23:20:50 Page's .URL is deprecated and will be removed in a future release. Use .Permalink or .RelPermalink. If what you want is the front matter URL value, use .Params.url.
WARN 2019/04/30 23:2